<div class="modal fade" id="new_export_log" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">DSpace Export</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= simple_form_for @export_log, html: { remote: true } do |f| %>
        <div class="modal-body">
          <%= f.input :published_date, collection: publish_on_dates %>
          <div class="row">
            <div class="span3">
              <p class="trivial">The following options are for advance users, leave them unchanged unless you are sure of their use</p>
              <%= f.input :production_export, as: :boolean, boolean_style: :inline, label: "Export To Production Server?" %>
            </div>
            <div class="span3">
              <%= f.input :complete_thesis, as: :boolean, boolean_style: :inline, label: "Complete Submission?" %>
              <%= f.input :publish_thesis, as: :boolean, boolean_style: :inline, label: "Change status to published?" %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <%= f.button :submit, "Queue Up Export", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>