<% title "DSpace Export" %>
<% title_html do %>
	<h1>DSpace Export</h1>
<% end %>
	<div class="float-end"><%= link_to "+ DSpace Export", new_export_log_path, class: "btn btn-secondary", remote: true %></div><br />

		<ul class="nav nav-tabs">
			<li><%= active_link_to "Open", export_logs_path(which: 'open'), class:"nav-link", active: /\A\/exports\z|open/ %></li>
			<li><%= active_link_to "Running", export_logs_path(which: 'running'), class:"nav-link", active: /running/ %></li>
			<li><%= active_link_to "Done", export_logs_path(which: 'done'), class:"nav-link", active: /done/ %></li>
			<li><%= active_link_to "Failed", export_logs_path(which: 'failed'), class:"nav-link", active: /failed/ %></li>
			<li><%= active_link_to "Cancelled", export_logs_path(which: 'cancelled'), class:"nav-link", active: /cancelled/ %></li>
		</ul>
		<div id="export_logs_list">
			<%= render partial: "export_logs_list" %>
		</div>
