<% title "DSpace Export" %>
<%= link_to export_logs_path(status: @export_log.job_status) do %>
  &laquo; Back to list
<% end %>
<hr class="fitted"/>

<div class="row">
  <div class="span5">
    <blockquote class="export_log">
      <small>User</small>
      <p><%= @export_log.creator.name %></p>
      <small>Published Date</small>
      <p><%= @export_log.published_date.strftime("%b %d, %Y") rescue nil %></p>
      <small>Production / Test Server</small>
      <p><%= @export_log.production_export? ? "Production" : "Test" %></p>
      <small>Complete Submission?</small>
      <p><%= @export_log.complete_thesis? ? "Yes" : "No" %></p>
      <small>Change Thesis Status To Publish?</small>
      <p><%= @export_log.publish_thesis? ? "Yes" : "No" %></p>
    </blockquote>

  </div>


  <div class="span4">
    <blockquote class="export_log">
      <small>Status</small>
      <p><%= @export_log.job_status.upcase %></p>
      <small>Total Theses</small>
      <p><%= @export_log.theses_count.to_i %></p>
      <small>Successful Count</small>
      <p><%= @export_log.successful_count.to_i %></p>
      <small>Failed Count</small>
      <p><%= @export_log.successful_count.to_i %></p>

      <% if @export_log.job_status == ExportLog::JOB_OPEN %>
        <small>Export Pending</small>
        <p>Export scheduled...
          <%= link_to @export_log, method: :delete, class: "red", data: { confirm: "Are you sure?" } do %>
            <i title="Cancel Export" class="fa fa-times-circle"></i> Cancel?
          <% end %>
         </p>
      <% elsif @export_log.job_status == ExportLog::JOB_CANCELLED %>
        <small>Export Cancelled</small>
        <p><%= @export_log.job_cancelled_at.strftime("%b %d, %Y") rescue nil %></p>
        <p><%= @export_log.job_cancelled_by.name rescue nil %></p>
      <% else %>
        <small>Export Started</small>
        <p><%= @export_log.job_started_at.strftime("%b %d, %Y") rescue nil %></p>
      <% end %>
    </blockquote>
  </div>
</div>

<blockquote class="export_log">
  <small>Theses IDs To Export</small>
  <p><%= format @export_log.theses_ids %></p>
  <small>Successfully ExportedIDs</small>
  <p><%= format @export_log.successful_ids %></p>
  <small>Failed IDs</small>
  <p><%= format @export_log.failed_ids %></p>
</blockquote>

<hr class="fitted"/>

<a name="full_output"></a>
<p><strong>Full Output</strong></p>
<blockquote class="export_log">
  <small>Job ID</small>
  <p><%= format @export_log.job_id %></p>
  <% if @export_log.job_status == ExportLog::JOB_DONE || @export_log.job_status == ExportLog::JOB_FAILED %>
    <small>Job Completed At</small>
    <p><%= @export_log.job_started_at.strftime("%b %d, %Y") rescue nil %></p>
  <% end %>
  <small>Error Output</small>
  <p><%= simple_format(format(@export_log.output_error), {}, sanitize: false) %></p>
  <small>Full Output</small>
  <p><%= simple_format(format(@export_log.output_full), {}, sanitize: false) %></p>
</blockquote>
<hr/>
<% if @export_log.job_status == ExportLog::JOB_RUNNING %>
  <%= link_to @export_log, method: :delete, class: "red", data: { confirm: "Are you sure?" } do %>
    <i title="Cancel Export" class="fa fa-times-circle"></i> Cancel Long Running Job?
  <% end %>
<% end %>
