<% title "#{@student.name}" %>

<% title_html do %>
	<% if @thesis.returned_message.present? && Thesis::RETURNED == @thesis.status %>
		<div class="alert alert-danger" role="alert">
		  <h4 class="alert-heading">Reason why your thesis was returned</h4>
		  <%= @thesis.returned_message %>
		</div>
	<% end %>
	<h4 class="fw-lighter">My ETD Submission</h4>
	<h1 class="border-bottom"><%= @student.name %></h1>
<% end %>

<%= progress_bar (Thesis::PROCESS_BEGIN) %>





<div class="student-view begin fitted">
	<h3>Hello <%= @student.name %></h3>
	<%= raw(AppSettings.student_begin_submission) %>
	<hr/>


	<div class="thesis row">
			<h4 class="title" title="title"><%= @thesis.title %></h4>

			<div class="col-md-12 col-lg-4">
				<h6>Supervisor</h6>
				<p><%= format @thesis.supervisor %></p>
				<h6>Exam date</h6>
				<p><%= @thesis.exam_date.strftime("%B %d, %Y") %></p>
			</div>

			<div class="col-md-12 col-lg-4">
				<h6>Degree Name and Level</h6>
				<p><%= format @thesis.degree_name %> - <%= format @thesis.degree_level %></p>
				<h6>Program</h6>
				<p><%= format @thesis.program %></p>
			</div>
			<div class="col-lg-4 d-none d-lg-block"></div>
	</div>
	<hr/>

	<%= simple_form_for @student, method: :post, url: organize_student_information_student_thesis_path(@student, @thesis), html: { class: "form-horizontal" } do |f| %>
	  <%= f.input :first_name, label: "First name" %>
	  <%= f.input :middle_name, label: "Middle name" %>
	  <%= f.input :last_name, label: "Last name" %>
	  <%= f.input :email_external, label: "Secondary email", placeholder: "Provide a NOT York University email" %>

	  <div class="row">
		<div class="pt-2">
		  <hr />
		  <%= f.button :button, class: "float-end btn btn-success" do %>
			<i class='fa fa-angle-double-right'></i> Continue
		  <% end %>
		</div>
	  </div>
	<% end %>
</div>
