<% title "#{@student.name}" %>

<% title_html do %>
	<h4 class="fw-lighter">My ETD Submission</h4>
	<h1 class="border-bottom"><%= @student.name %></h1>
<% end %>

<%= progress_bar (Thesis::PROCESS_BEGIN) %>





<div class="student-view begin fitted">
	<h3>Hello <%= @student.name %></h3>
	<%= AppSettings.student_begin_submission.html_safe %>
	<hr/>


	<div class="thesis row">
			<h4 class="title" title="title"><%= @thesis.title %></h4>

			<div class="col-md-12 col-lg-4">
				<h6>Supervisor</h6>
				<p><%= format @thesis.supervisor %></p>
				<h6>Exam date</h6>
				<p><%= @thesis.exam_date.strftime("%B %d, %Y") %></p>
			</div>

			<div class="col-md-12 col-lg-4">
				<h6>Degree Name and Level</h6>
				<p><%= format @thesis.degree_name %> - <%= format @thesis.degree_level %></p>
				<h6>Program</h6>
				<p><%= format @thesis.program %></p>
			</div>
			<div class="col-lg-4 d-none d-lg-block"></div>
	</div>

	<hr/>
	<div class="process-nav float-end">
		<a href="<%= student_view_thesis_process_path(@thesis, Thesis::PROCESS_UPDATE) %>" class="next-btn btn btn-success" title="Update Thesis Details">
 			<i class="fa fa-angle-double-right"></i> Continue
		</a>
	</div>
</div>
