<% title "#{@student.name}" %>

<% title_html do %>
	<h4 class="fw-lighter">My ETD Submission</h4>
	<h1 class="border-bottom"><%= @student.name %></h1>
<% end %>

<%= progress_bar (Thesis::PROCESS_BEGIN) %>





<div class="student-view begin fitted">
	<h3>Hello <%= @student.name %></h3>
	<p>Welcome to York University’s Electronic Thesis and Dissertation (ETD) application. This interface will enable to you to upload and submit your final approved thesis or dissertation to the Thesis Coordinator in the Faculty of Graduate Studies. </p>
	<p>Once your submission is approved and all requirements for graduation are met, your thesis or dissertation will be submitted to YorkSpace, York University's digital library of research outputs and will be available for electronic viewing through Library and Archives Canada.</p>
	<p>For step-by-step submission instructions and more information on ETD, please click <a href=" http://www.yorku.ca/grads/policies_procedures/thesis_dissertations_index.html">here</a>. At any point while you are using the application, you may click on the help button next to each field for more information. </p>
	<p>Click on the title of your thesis/dissertation to get started.
	</p>
	<hr/>


	<div class="thesis row">
			<h4 class="title" title="title"><%= @thesis.title %></h4>

			<div class="col-md-12 col-lg-4">
				<h6>Supervisor</h6>
				<p><%= format @thesis.supervisor %></p>
				<h6>Exam date</h6>
				<p><%= @thesis.exam_date.strftime("%B %d, %Y") %></p>
			</div>

			<div class="col-md-12 col-lg-4">
				<h6>Degree Name and Level</h6>
				<p><%= format @thesis.degree_name %> - <%= format @thesis.degree_level %></p>
				<h6>Program</h6>
				<p><%= format @thesis.program %></p>
			</div>
			<div class="col-lg-4 d-none d-lg-block"></div>
	</div>

	<hr/>
	<div class="process-nav float-end">
		<a href="<%= student_view_thesis_process_path(@thesis, Thesis::PROCESS_UPDATE) %>" class="next-btn btn btn-success" title="Update Thesis Details">
 			<i class="fa fa-angle-double-right"></i> Continue
		</a>
	</div>
</div>
