<% title "#{@student.name}" %>

<% title_html do %>
	<h1>
		<span class="fw-lighter text-secondary d-block lead ">My ETD Submission</span> 
		<%= @student.name %>
	</h1>
<% end %>

<%= progress_bar (Thesis::PROCESS_REVIEW) %>

<% if @thesis.status == Thesis::UNDER_REVIEW %>
	<div class="alert alert-info fitted" id="student_blocked_message">
		<strong>This submission is being reviewed. You will not be able to make any further changes at this time.</strong>
	</div>
<% end %>

<div class="student-view fitted submit">
	<h2 class="text-success">Licence Review and Acceptance</h2>
	<div class="settings-content">
		<%= raw(AppSettings.student_review_license_info) %>
	</div>
	<h3 class="fw-bold" title="Thesis Title"><%= @thesis.title %></h3>
	<hr/>

		<%= simple_form_for([@current_user, @thesis], url: accept_licences_student_thesis_path(@current_user, @thesis), method: :post, html: { class: "p-0" }) do |f| %>
			<% if @thesis.errors.any? %>
				<div id="error_explanation">
					<h2><%= pluralize(@thesis.errors.count, "error") %> prohibited this thesis from being saved:</h2>
					<ul>
						<% @thesis.errors.full_messages.each do |message| %>
							<li><%= message %></li>
						<% end %>
					</ul>
				</div>
			<% end %>

			<div class="licence-box mb-5">
				<h4>LAC Supplementary Licence File Upload</h4>
				<hr class="text-primary border-3">
				<p class="small">You must scroll to enable the checkbox to acknowledge you have read the licence.</p>
				
				<% if @supplemental_licence_documents.count == 0 %>
					<p>There are no <strong>supplementary</strong> license files or documents attached to this thesis/dissertation.</p>
				<% end %>
				<% if AppSettings.student_review_lac_licence_instructions.present? %>
					<p><%= raw(AppSettings.student_review_lac_licence_instructions) %></p>
				<% end %>
				<% @supplemental_licence_documents.each do | document | %>
					<%= render partial: document %>
				<% end %>
				<br/>
				<%  unless block_thesis_changes?(@thesis) %>
					<button type="button" class="btn btn-primary mb-3 " data-bs-toggle="modal" data-bs-target="#supplemental-licence-files">Upload Licence Files</button>
				<% end %>
				<div class="bg-secondary-subtle p-2 fw-bold">
					<%= f.input :lac_licence_agreement, as: :boolean, input_html: {class: ""}, label: "I agree to and I have signed LAC Form" %>
				</div>
			</div>

			<div class="licence-box my-5" >
				<h4>Yorkspace Distribution Licence</h4>
				<p class="small">You must scroll to enable the checkbox to acknowledge you have read the licence.</p>
				<hr class="text-success border-3">
				<% if AppSettings.student_review_license_yorkspace.present? %>
					<div id="yorkspace-licence" class="scrollable-content bg-light p-3">
						<p><%= raw(AppSettings.student_review_license_yorkspace) %></p>
					</div>
				<% end %>
				<div class="bg-secondary-subtle p-2 fw-bold">
					<%= f.input :yorkspace_licence_agreement, as: :boolean, label: "I agree to YorkSpace Distribution Licence" %>
				</div>
			</div>

			<div class="licence-box my-5">
				<h4>ETD Licence Agreement</h4>
				<hr class="text-warning border-3">
				<p class="small">You must scroll to enable the checkbox to acknowledge you have read the licence.</p>
				<% if AppSettings.student_review_license_etd.present? %>
					<div id="etd-licence" class="scrollable-content bg-light p-3">
						<p><%= raw(AppSettings.student_review_license_etd) %></p>
					</div>
				<% end %>
				<div class="bg-secondary-subtle p-2 fw-bold">
					<%= f.input :etd_licence_agreement, as: :boolean, label: "I agree to ETD Licence" %>
				</div>
			</div>
			<%  unless block_thesis_changes?(@thesis) %>
			<hr/>
				<div class="process-nav d-flex justify-content-end">
					<a href="<%= student_view_thesis_process_path(@thesis, Thesis::PROCESS_UPLOAD) %>" class="btn btn-lg btn-primary me-2" title="Begin Submission">
						<i class="fa fa-angle-double-left"></i>
					</a>
					<%= button_tag(type: 'submit', class: "next-btn btn btn-lg btn-success") do %>
						 Accept and Continue <i class="fa fa-angle-double-right"></i>
					<% end %>
				</div>
			<% end %>
		<% end %>

	

		<!-- Modal L1_ -->
		<div class="modal fade" id="L1_" tabindex="-1" aria-labelledby="L1_Label" aria-hidden="true">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="L1_Label">LAC licence</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<%= raw(AppSettings.student_review_license_lac) %>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal L2_ -->
		<div class="modal fade" id="L2_" tabindex="-1" aria-labelledby="L2_Label" aria-hidden="true">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="L2_Label">YorkSpace Non-Exclusive Distribution Licence</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<%= raw(AppSettings.student_review_license_yorkspace) %>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal L3_ -->
		<div class="modal fade" id="L3_" tabindex="-1" aria-labelledby="L3_Label" aria-hidden="true">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="L3_Label">YorkU ETD Licence</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<%= raw(AppSettings.student_review_license_etd) %>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<%= render partial: "documents/new_licence_form", locals: { primary: false } %>
</div>
