<% title "#{@student.name}" %>

<% title_html do %>
	<h4 class="fw-lighter">My ETD Submission</h4>
	<h1 class="border-bottom"><%= @student.name %></h1>
<% end %>

<%= progress_bar (Thesis::PROCESS_REVIEW) %>

<% if @thesis.status == Thesis::UNDER_REVIEW %>
	<div class="alert alert-info fitted" id="student_blocked_message">
		<strong>This submission is being reviewed. You will not be able to make any further changes at this time.</strong>
	</div>
<% end %>

<div class="student-view fitted submit">
	<h3><%= @thesis.title %></h3>
	<p><%= raw(AppSettings.student_review_license_info) %></p>

		<%= simple_form_for([@current_user, @thesis], url: accept_licences_student_thesis_path(@current_user, @thesis), method: :post) do |f| %>
			<% if @thesis.errors.any? %>
				<div id="error_explanation">
					<h2><%= pluralize(@thesis.errors.count, "error") %> prohibited this thesis from being saved:</h2>
					<ul>
						<% @thesis.errors.full_messages.each do |message| %>
							<li><%= message %></li>
						<% end %>
					</ul>
				</div>
			<% end %>

			<br/>
			<div class="card mt-3 mb-3">
				<ul class="list-group list-group-flush">
					<li class="list-group-item bg-info bg-gradient">
						<h3>LAC Supplementary Licence File Upload</h3>
						<p class="small">You must scroll to enable the checkbox to acknowledge you have read the licence.</p>
					</li>
					<li class="list-group-item">
						<p>
						<% if @supplemental_licence_documents.count == 0 %>
							<p>There are no <strong>supplementary</strong> license files or documents attached to this thesis/dissertation.</p>
						<% end %>
						<% if AppSettings.student_review_lac_licence_instructions.present? %>
							<p><%= raw(AppSettings.student_review_lac_licence_instructions) %></p>
						<% end %>
						<% @supplemental_licence_documents.each do | document | %>
							<%= render partial: document %>
						<% end %>
						<br/>
						<%  unless block_thesis_changes?(@thesis) %>
							<button type="button" class="btn btn-dark mb-3 " data-bs-toggle="modal" data-bs-target="#supplemental-licence-files">Upload Licence Files</button>
						<% end %>
					</li>
					<li class="list-group-item bg-secondary text-white">
						<%= f.input :lac_licence_agreement, as: :boolean, input_html: {class: "mt-3"}, label: "I agree to and I have signed LAC Form" %>
					</li>
				</ul>
			</div>
			<br/>
			<div class="card mt-3 mb-3">
				<ul class="list-group list-group-flush">
					<li class="list-group-item bg-success bg-gradient">
						<h3>Yorkspace Distribution Licence</h3>
						<p class="small">You must scroll to enable the checkbox to acknowledge you have read the licence.</p>
					</li>
					<li class="list-group-item">
						<% if AppSettings.student_review_license_yorkspace.present? %>
							<div id="yorkspace-licence" class="scrollable-content">
								<p><%= raw(AppSettings.student_review_license_yorkspace) %></p>
							</div>
						<% end %>
					</li>
					<li class="list-group-item bg-secondary text-white">
						<%= f.input :yorkspace_licence_agreement, as: :boolean, label: "I agree to YorkSpace Licence" %>
					</li>
				</ul>
			</div>
			<div class="card mt-3 mb-3">
				<ul class="list-group list-group-flush">
					<li class="list-group-item bg-warning bg-gradient">
						<h3>ETD Licence Agreement</h3>
						<p class="small">You must scroll to enable the checkbox to acknowledge you have read the licence.</p>
					</li>
					<li class="list-group-item">
						<% if AppSettings.student_review_license_etd.present? %>
							<div id="etd-licence" class="scrollable-content">
								<p><%= raw(AppSettings.student_review_license_yorkspace) %></p>
							</div>
						<% end %>
					</li>
					<li class="list-group-item bg-secondary text-white">
						<%= f.input :etd_licence_agreement, as: :boolean, label: "I agree to ETD Licence" %>
					</li>
					<!-- Add licence fields here -->
				</ul>
			</div>
			<%  unless block_thesis_changes?(@thesis) %>
			<div class="mt-2 p-3">
				<hr/>
				<div class="process-nav float-start">
					<a href="<%= student_view_thesis_process_path(@thesis, Thesis::PROCESS_UPLOAD) %>" class="next-btn back btn btn-lg btn-primary" title="Upload Thesis Files">
						<i class="fa fa-angle-double-left"></i></a>
					<%= f.submit 'Accept and Continue', class: "next-btn btn btn-lg btn-success" %>
				</div>
			</div>
			<% end %>

		<% end %>

	

		<!-- Modal L1_ -->
		<div class="modal fade" id="L1_" tabindex="-1" aria-labelledby="L1_Label" aria-hidden="true">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="L1_Label">LAC licence</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<%= raw(AppSettings.student_review_license_lac) %>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal L2_ -->
		<div class="modal fade" id="L2_" tabindex="-1" aria-labelledby="L2_Label" aria-hidden="true">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="L2_Label">YorkSpace Non-Exclusive Distribution Licence</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<%= raw(AppSettings.student_review_license_yorkspace) %>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal L3_ -->
		<div class="modal fade" id="L3_" tabindex="-1" aria-labelledby="L3_Label" aria-hidden="true">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="L3_Label">YorkU ETD Licence</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<%= raw(AppSettings.student_review_license_etd) %>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>

		<%= render partial: "documents/new_licence_form", locals: { primary: false } %>
</div>
