<% title "#{@student.name}" %>

<% title_html do %>
	<h4 class="fw-lighter">My ETD Submission</h4>
	<h1 class="border-bottom"><%= @student.name %></h1>
<% end %>

<%= progress_bar (Thesis::PROCESS_REVIEW) %>

<% if @thesis.status == Thesis::UNDER_REVIEW %>
	<div class="alert alert-info fitted" id="student_blocked_message">
		<strong>This submission is being reviewed. You will not be able to make any further changes at this time.</strong>
	</div>
<% end %>

<div class="student-view fitted submit">
	<h3><%= @thesis.title %></h3>
	<p><%= raw(AppSettings.student_review_license_info) %></p>

	<div class="mt-2 p-3 bg-light border border-dark">

		<%= simple_form_for Student.new do |f| %>
		<% if AppSettings.student_review_license_lac.present? %>
			<div>
				<input type="checkbox" class='form-check-inline' name="" id="" checked disabled> <a href="#L1_" data-bs-toggle="modal">LAC licence</a>
			</div>
		<% end %>
		<% if AppSettings.student_review_license_yorkspace.present? %>
			<div>
				<input type="checkbox" class='form-check-inline' name="" id="" checked disabled> <a href="#L2_" data-bs-toggle="modal">YorkSpace Non-Exclusive Distribution Licence</a>
			</div>
		<% end %>
		<% if AppSettings.student_review_license_etd.present? %>
			<div>
				<input type="checkbox" class='form-check-inline' name="" id="" checked disabled> <a href="#L3_" data-bs-toggle="modal">YorkU ETD Licence</a>
			</div>
		<% end %>
		<% end %>

		<!-- Modal L1_ -->
		<div class="modal fade" id="L1_" tabindex="-1" aria-labelledby="L1_Label" aria-hidden="true">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="L1_Label">LAC licence</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<%= raw(AppSettings.student_review_license_lac) %>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal L2_ -->
		<div class="modal fade" id="L2_" tabindex="-1" aria-labelledby="L2_Label" aria-hidden="true">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="L2_Label">YorkSpace Non-Exclusive Distribution Licence</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<%= raw(AppSettings.student_review_license_yorkspace) %>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal L3_ -->
		<div class="modal fade" id="L3_" tabindex="-1" aria-labelledby="L3_Label" aria-hidden="true">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="L3_Label">YorkU ETD Licence</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<%= raw(AppSettings.student_review_license_etd) %>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
		<%  unless block_thesis_changes?(@thesis) %>
		<hr/>
		<div class="process-nav">
			<a href="<%= student_view_thesis_process_path(@thesis, Thesis::PROCESS_UPLOAD) %>" class="next-btn back btn btn-primary" title="Upload Thesis Files">
				<i class="fa fa-angle-double-left"></i></a>
			<%= link_to student_view_thesis_process_path(@thesis, Thesis::PROCESS_SUBMIT), title: "Submit Thesis For Review",
					 	class: "next-btn btn btn-success" do %>
						<i class="fa fa-angle-double-right"></i> Accept and Continue
			<% end %>
		</div>
	 	<% end %>
</div>
