<% title "#{@student.name}" %>

<% title_html do %>
	<h4 class="fw-lighter">My ETD Submission</h4>
	<h1 class="border-bottom"><%= @student.name %></h1>
<% end %>

<%= progress_bar (Thesis::PROCESS_REVIEW) %>

<% if @thesis.status == Thesis::UNDER_REVIEW %>
	<div class="alert alert-info fitted" id="student_blocked_message">
		<strong>This submission is being reviewed. You will not be able to make any further changes at this time.</strong>
	</div>
<% end %>


<div class="thesis fitted student-view review">
	<h3 class="title" title="title"><%= @thesis.title %></h3>
	<div class="alert alert-secondary" role="alert">
		<%= AppSettings.student_review_details.html_safe %>
	</div>

	<h6>Abstract</h6>
	<p><%= format @thesis.abstract, true %></p>
	<div class="row">
	  <div class="col-md-12 col-lg-4">
	  	<h6>Supervisor</h6>
		<p><%= format @thesis.supervisor %></p>
	  	<h6>Exam date</h6>
		<p><%= @thesis.exam_date.strftime("%B %d, %Y") rescue nil %></p>
		<h6>Publish on</h6>
		<p><%= @thesis.published_date ? @thesis.published_date.strftime("%B %d, %Y") : format(@thesis.published_date)  %></p>
	  </div>
	  <div class="col-md-12 col-lg-4">
	  	<div class="span5 committee" title="examining committee">
			<h6>Examining committee</h6>
			<table class="committee_members" id="committee_members">
				<% @thesis.committee_members.each do |committee_member| %>
					<%= render partial: committee_member %>
				<% end %>
			</table>
		</div>
	  </div>
	  <div class="col-lg-4 d-none d-lg-block"></div>
	</div>
	<hr />

	<div class="row">
	  <div class="col-md-12 col-lg-4">
		<h6>Degree Name and Level</h6>
		<p><%= format @thesis.degree_name %> - <%= format @thesis.degree_level %></p>
	  </div>
	  <div class="col-md-12 col-lg-4">
	  	<h6>Program</h6>
		<p><%= format @thesis.program %></p>
	  </div>
	  <div class="col-lg-4 d-none d-lg-block"></div>
	</div>
	<hr />

	<div class="row">
	  <div class="col-md-12 col-lg-4">
		<h6>Language</h6>
		<p><%= format @thesis.language %></p>
	  	<h6>Subjects</h6>
		<p><%= format @thesis.loc_subjects.map(&:name).join ', ' %></p>
	  </div>
	  <div class="col-md-12 col-lg-4">
		<h6>Keywords</h6>
		<p><%= format @thesis.keywords%></p>
	  </div>
	  <div class="col-lg-4 d-none d-lg-block"></div>
	</div>
</div>

<div class="documents fitted student-view">

	<h6 class="green pt-3">Files and Documents</h6>
	<p>You have uploaded the following files:</p>
	<h6>Primary</h6>
	<% @primary_documents.each do | document | %>
		<%= render partial: document %>
	<% end %>

	<% if @primary_documents.count == 0 %>
		<p>There are no <strong>primary</strong> files or documents attached to this thesis/dissertation.</p>
	<% end %>



	<h6>Supplementary</h6>
	<% @supplemental_documents.each do | document | %>
		<%= render partial: document %>
	<% end %>
	<% if @supplemental_documents.count == 0 %>
		<p>There are no <strong>supplementary</strong> files or documents attached to this thesis/dissertation.</p>
	<% end %>


	<%  unless block_thesis_changes?(@thesis) %>

		<hr/>
		<div class="process-nav float-end">
			<a href="<%= student_view_thesis_process_path(@thesis, Thesis::PROCESS_UPLOAD) %>" class="next-btn back btn btn-primary" title="Upload Thesis Files">
				<i class="fa fa-angle-double-left"></i></a>
			<%= link_to student_view_thesis_process_path(@thesis, Thesis::PROCESS_SUBMIT), title: "Submit Thesis For Review",
					 	class: "next-btn btn btn-success", data: { confirm: "Have you completed all thesis details and uploaded all files?" } do %>
						<i class="fa fa-angle-double-right"></i> Continue
			<% end %>
		</div>



	 <% end %>
</div>
