<% title "#{@student.name}" %>

<% title_html do %>
	<h4 class="blend soft">My ETD Submission</h4>
	<h1><%= @student.name %></h1>
<% end %>

<%= progress_bar (Thesis::PROCESS_STATUS) %>

<div class="student-view fitted status">
	<h3><%= @thesis.title %></h3>
	<p>Your Current Thesis/Dissertation Status.</p>



	<div class="status open <%= "current" if @thesis.status == Thesis::OPEN %> ">
		<i class="fa fa-folder-open-o"></i> <span>Open</span>
		<a class="close" id="close_open" arial-label="Close Open Section">
			<i class="fa fa-question-circle-o"></i>
		</a>

		<p class="help-text <%= "hide" unless @thesis.status == Thesis::OPEN %>">
			A record has been created for you to submit your thesis/dissertation. As long as the status is Open, you may continue to make changes until you are ready to submit.
		</p>
	</div>



	<div class="status under_review <%= "current" if @thesis.status == Thesis::UNDER_REVIEW %>">
		<i class="fa fa-eye"></i> <span>Under Review </span>
		<a class="close" id="close_under_review" arial-label="Close Under Review Section">
			<i class="fa fa-question-circle-o"></i>
		</a>
		<p class="help-text <%= "hide" unless @thesis.status == Thesis::UNDER_REVIEW %>">
		Your submission has been received and is being reviewed by a Thesis Coordinator in the Faculty of Graduate Studies. If you need to re-open your ETD record to make any changes, please email <a href="mailto:gsthesis@yorku.ca">gsthesis@yorku.ca</a>.
		</p>
	</div>

	<div class="status returned <%= "current" if @thesis.status == Thesis::RETURNED %>">
		<i class=" fa fa-share"></i> <span>Returned</span>
		<a class="close" id="close_returned" arial-label="Close Returned Section">
			<i class=" fa fa-question-circle-o"></i>
		</a>
		<p class="help-text <%= "hide" unless @thesis.status == Thesis::RETURNED %>">
			Your submission has been reviewed by a Thesis Coordinator and has been returned to you for modification. Please make the updates detailed in the email from the Thesis Coordinator, attach an updated PDF (if applicable) and resubmit.
		</p>
	</div>

	<div class="status accepted <%= "current" if @thesis.status == Thesis::ACCEPTED %>">
		<i class="fa fa-check"></i> <span>Accepted</span>
		<a class="close" id="close_accepted" arial-label="Close Accepted Section">
			<i class=" fa fa-question-circle-o"></i>
		</a>
		<p class="help-text <%= "hide" unless @thesis.status == Thesis::ACCEPTED %>">
			Your submission has been accepted and will be published following conferral of your degree.
		</p>
	</div>

	<div class="status published <%= "current" if @thesis.status == Thesis::PUBLISHED %>">
		<i class="fa fa-book"></i> <span>Published</span>
		<a class="close" id="close_published" arial-label="Close Published Section">
			<i class=" fa fa-question-circle-o"></i>
		</a>
		<p class="help-text <%= "hide" unless @thesis.status == Thesis::PUBLISHED %>">
			Your thesis/dissertation has been deposited in YorkSpace, York University's digital library and is available for electronic viewing through Library and Archives Canada.
		</p>
	</div>

	<div class="status hide rejected <%= "current" if @thesis.status == Thesis::REJECTED %>">
		<i class="fa fa-ban"></i> <span>Rejected</span>
		<a class="close" id="close_rejected" arial-label="Close Rejected Section">
			<i class=" fa fa-question-circle-o"></i>
		</a>
		<p class="help-text <%= "hide" unless @thesis.status == Thesis::REJECTED %>">Help text goes here, describing what this status is</p>
	</div>



</div>
<script type="text/javascript">
	$("a.close").click(function() {
		$(this).parent().children(".help-text").toggle();
	});
</script>
