<% title "#{@student.name}" %>

<% title_html do %>
	<h1>
		<span class="text-secondary"><%= @student.name %></span>
	</h1>
	<h2>
		<span class="fw-lighter text-secondary lead"><%= @thesis.title %></span>
	</h2>
<% end %>

<%= progress_bar (Thesis::PROCESS_STATUS) %>

<div class="student-view fitted status">
	<h2>Thesis Submission Status</h2>
	<h3><span class="fw-lighter text-secondary lead"><%= @thesis.title %></span></h3>
	<hr/>
	<div>
		<div class="settings-content">
			<%= raw(AppSettings.student_check_status_description) %>
		</div>
	</div>
	
	<p class="bg-light p-2">Your Current Thesis/Dissertation Status: <span class="badge text-bg-success" style="font-size: 16px;"><%= @thesis.status.humanize %></span></p>

	<div class="accordion" id="accordionThesis">
		<div class="accordion-item">
			<h2 class="accordion-header">
				<button class="<%= collapse_accordion(Thesis::OPEN) %>" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-controls="collapseOne">
					<i class="fa fa-folder-open-o pe-2"></i>
					<span class="<%= show_badge(Thesis::OPEN) %>" style="font-size: 16px;">Open</span>
				</button>
			</h2>
			<div id="collapseOne" class="<%= show_accordion(Thesis::OPEN) %>" data-bs-parent="#accordionThesis">
				<div class="accordion-body">
					<%= raw(AppSettings.student_check_status_open) %>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header">
				<button class="<%= collapse_accordion(Thesis::UNDER_REVIEW) %>" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-controls="collapseTwo">
					<i class="fa fa-eye pe-2"></i> 
					<span class="<%= show_badge(Thesis::UNDER_REVIEW) %>" style="font-size: 16px;">Under Review</span>
				</button>
			</h2>
			<div id="collapseTwo" class="<%= show_accordion(Thesis::UNDER_REVIEW) %>" data-bs-parent="#accordionThesis">
				<div class="accordion-body">
					<%= raw(AppSettings.student_check_status_under_review) %>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header">
				<button class="<%= collapse_accordion(Thesis::RETURNED) %>" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					<i class=" fa fa-share pe-2"></i>
					<span class="<%= show_badge(Thesis::RETURNED) %>" style="font-size: 16px;">Returned</span>
				</button>
			</h2>
			<div id="collapseThree" class="<%= show_accordion(Thesis::RETURNED) %>" data-bs-parent="#accordionThesis">
				<div class="accordion-body">
					<%= raw(AppSettings.student_check_status_returned) %>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header">
				<button class="<%= collapse_accordion(Thesis::ACCEPTED) %>" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
					<i class="fa fa-check pe-2"></i>
					<span class="<%= show_badge(Thesis::ACCEPTED) %>" style="font-size: 16px;">Accepted</span>
				</button>
			</h2>
			<div id="collapseFour" class="<%= show_accordion(Thesis::ACCEPTED) %>" data-bs-parent="#accordionThesis">
				<div class="accordion-body">
					<%= raw(AppSettings.student_check_status_accepted) %>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header">
				<button class="<%= collapse_accordion(Thesis::PUBLISHED) %>" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
					<i class="fa fa-book pe-2"></i>
					<span class="<%= show_badge(Thesis::PUBLISHED) %>" style="font-size: 16px;">Published</span>
				</button>
			</h2>
			<div id="collapseFive" class="<%= show_accordion(Thesis::PUBLISHED) %>" data-bs-parent="#accordionThesis">
				<div class="accordion-body">
					<%= raw(AppSettings.student_check_status_published) %>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header">
				<button class="<%= collapse_accordion(Thesis::REJECTED) %>" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
					<i class="fa fa-ban pe-2"></i>
					<span class="<%= show_badge(Thesis::REJECTED) %>" style="font-size: 16px;">Rejected</span>
				</button>
			</h2>
			<div id="collapseSix" class="<%= show_accordion(Thesis::REJECTED) %>" data-bs-parent="#accordionThesis">
				<div class="accordion-body">
					<%= raw(AppSettings.student_check_status_rejected) %>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$("a.close").click(function() {
		$(this).parent().children(".help-text").toggle();
	});
</script>
