<% title "#{@student.name}" %>

<% title_html do %>
	<h4 class="fw-lighter">My ETD Submission</h4>
	<h1 class="border-bottom"><%= @student.name %></h1>
<% end %>

<%= progress_bar (Thesis::PROCESS_SUBMIT) %>


<div class="student-view fitted submit">
	<h3><%= @thesis.title %></h3>
	<%= AppSettings.student_submit_for_review.html_safe %>

	<div class="alert alert-secondary">
		<h4>Non-Exclusive License to York University</h4>
		<%= AppSettings.student_submit_for_review_license.html_safe %>

		<hr/>
		<h4>	<%= Date.today.strftime("%B %d, %Y")%></h4>
		<div class="process-nav">
			<a href="<%= student_view_thesis_process_path(@thesis, Thesis::PROCESS_REVIEW) %>" class="next-btn back btn btn-primary" title="Review Thesis Details">
				<i class="fa fa-angle-double-left"></i></a>

			<%= link_to "I accept and send for review", submit_for_review_student_thesis_path(@current_user, @thesis), method: :post, title: "Accept and send for review",
			 	class: "next-btn send btn btn-danger", data: { confirm: "Are you sure? You will not be able to make further changes." } %></div>
		</div>


</div>
