<% title "#{@student.name}" %>

<% title_html do %>
	<h1>
		<span class="fw-lighter text-secondary d-block lead ">My ETD Submission</span> 
		<%= @student.name %>
	</h1>
<% end %>

<%= progress_bar (Thesis::PROCESS_SUBMIT) %>

<div class="student-view fitted review">
	<h2>Review Details for Submission</h2>
	<div class="settings-content">
		<%= raw(AppSettings.student_submit_for_review) %>
	</div>
	<h3><%= @thesis.title %></h3>
	<div class="thesis data-grid">
		<hr/>
		<div class="row">
			<div class="col-md-12 col-lg-4">
				<h4>Supervisor</h4>
				<p><%= format @thesis.supervisor %></p>
				<h4>Exam date</h4>
				<p><%= @thesis.exam_date.strftime("%B %d, %Y") rescue nil %></p>
				<% if @thesis.published_date.present? %>
					<div class="col-md-6 col-lg-4">
					<h4>Publication Date</h4>
					<p>
						<%= @thesis.published_date.strftime("%B %d, %Y") %>
					</p>
					</div>
			  	<% end %>	
			</div>
			<div class="col-md-12 col-lg-4">
				<h4>Degree Name and Level</h4>
				<p><%= format @thesis.degree_name %> - <%= format @thesis.degree_level %></p>
				<h4>Program</h4>
					<p><%= format @thesis.program %></p>
			</div>
	  	<div class="col-md-12 col-lg-4">
	  		<div class="span5 committee" title="examining committee">
				<h4>Examining committee</h4>
				<table class="committee_members" id="committee_members">
				<% @thesis.committee_members.each do |committee_member| %>
					<%= render "committee_members/committee_member_read", committee_member: committee_member %>
				<% end %>
				</table>
			</div>
	  </div>
	</div>
	<hr />
	<div class="row">
	  <div class="col-md-12 col-lg-4">
			<h4>Language</h4>
			<p><%= format @thesis.language %></p>
	  	
	  </div>
	  <div class="col-md-12 col-lg-4">
			<h4>Subjects</h4>
			<p><%= format @thesis.loc_subjects.map(&:name).join ', ' %></p>
		</div>
		<div class="col-md-12 col-lg-4">
			<h4>Keywords</h4>
			<p><%= format @thesis.keywords%></p>
	  </div>
	</div>
	<div class="row">
	  <div class="col-12 col-lg-12 d-none d-lg-block">
			<h4>Abstract</h4>
			<p><%= format @thesis.abstract, true %></p>
		</div>
	</div>
	<div class="d-flex justify-content-end">
		
		<a href="<%= student_view_thesis_process_path(@thesis, Thesis::PROCESS_UPDATE) %>" class="next-btn btn btn-link" title="Make Changes to Thesis Details">
			<i class="fa fa-pencil"></i> Make Changes to Thesis Details
		</a>
	</div>

	</div>
</div>

<div class="documents fitted student-view">

	<h3 class="fw-bold">Files and Documents</h3>
	<p>You have uploaded the following files:</p>
	<hr/>

	<div class="bg-light-subtle mt-3 p-3">
		<h4>Primary</h4>
		<% @primary_documents.each do | document | %>
			<%= render partial: 'documents/document_view_only', locals: {document: document} %>
		<% end %>

		<% if @primary_documents.count == 0 %>
			<p>There are no <strong>primary</strong> files or documents attached to this thesis/dissertation.</p>
		<% end %>
	</div>
	
	<div class="bg-light-subtle mt-3 p-3">
		<div class="d-flex flex-column flex-md-row align-items-start">
			<h4 class="me-md-auto mb-2 mb-md-0">Supplementary Thesis Files</h4>
			<a href="<%= student_view_thesis_process_path(@thesis, Thesis::PROCESS_UPLOAD) %>" class="next-btn btn btn-link" title="Make Changes to Thesis Files">
				<i class="fa fa-pencil"></i> Make Changes to Thesis Files
			</a>
		</div>
		<% @supplemental_documents.each do | document | %>
			<% if document.usage == 'thesis'%>
				<%= render partial: 'documents/document_view_only', locals: {document: document} %>
			<% end %>
		<% end %>
		<% if @supplemental_documents.count == 0 %>
			<p>There are no <strong>supplementary</strong> files or documents attached to this thesis/dissertation.</p>
		<% end %>
	</div>
	
	<div class="bg-light-subtle mt-3 p-3">
		<div class="d-flex flex-column flex-md-row align-items-start">
			<h4 class="me-md-auto mb-2 mb-md-0">Licence Agreements</h4>
			<a href="<%= student_view_thesis_process_path(@thesis, Thesis::PROCESS_REVIEW) %>" class="next-btn btn btn-link" title="Make Changes to Licence Files">
				<i class="fa fa-pencil"></i> Make Changes to Licence Files
			</a>
		</div>
		
		<% @licence_documents.each do | document | %>
				<%= render partial: 'documents/document_view_only', locals: {document: document} %>
		<% end %>
		<% if @licence_documents.count == 0 %>
			<p>There are no <strong>supplementary licence</strong> files or documents attached to this thesis/dissertation.</p>
		<% end %>
	</div>
	
	<% if @embargo_documents.count > 0 %>
		<div class="bg-light-subtle mt-3 p-3">
			<h4>Embargo Documents</h4>
			<% @embargo_documents.each do | document | %>
					<%= render partial: 'documents/document_view_only', locals: {document: document} %>
			<% end %>
		</div>
	<% end %>

	<div class="my-4">
		<h4><%= Date.today.strftime("%B %d, %Y")%></h4>
		<hr />
		<%= simple_form_for([@current_user, @thesis], url: submit_for_review_student_thesis_path(@current_user, @thesis), method: :post, html: { class: "form-horizontal border border-2 bg-light" }) do |f| %>
			<div class="bg-secondary-subtle p-2 fw-bold">
				<%= f.input :certify_content_correct, as: :boolean, label: "I certify that the content is correct" %>
			</div>
			<div class="process-nav d-flex justify-content-end mt-4">
				<a href="<%= student_view_thesis_process_path(@thesis, Thesis::PROCESS_REVIEW) %>" class="btn btn-lg btn-primary me-2" title="Review Thesis Details">
				<i class="fa fa-angle-double-left"></i>
				</a>
		
				<%= button_tag(type: 'submit', class: "next-btn btn btn-lg btn-success", data: { confirm: "Are you sure? You will not be able to make further changes." }) do %>
					I accept and submit for review <i class="fa fa-angle-double-right"></i>
				<% end %>
			</div>
		<% end %>
	</div>
</div>
