<% title "#{@student.name}" %>

<% title_html do %>
	<h1>
		<span class="text-secondary"><%= @student.name %></span>
	</h1>
	<h2>
		<span class="fw-lighter text-secondary lead"><%= @thesis.title %></span>
	</h2>
<% end %>

<%= progress_bar (Thesis::PROCESS_UPDATE) %>

<div class="student-view fitted update">
	<h2>Update ETD Details</h2>
	<div class="settings-content">
		<%= raw(AppSettings.student_update_details_initial) %>
	</div>

	<div class="thesis data-grid">
		<hr/>
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<h4>Title</h4>
				<p><%= @thesis.title %></p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h4>Author</h4>
				<p><%= @student.name %></p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h4>Exam date</h4>
				<p><%= @thesis.exam_date.strftime("%B %d, %Y") %></p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h4>Supervisor</h4>
				<p><%= format @thesis.supervisor %></p>
			</div>
			<% if @thesis.published_date.present? %>
				<div class="col-md-6 col-lg-4">
				<h4>Publication Date</h4>
				<p>
					<%= @thesis.published_date.strftime("%B %d, %Y") %>
				</p>
				</div>
		  	<% end %>		  
			<div class="col-md-6 col-lg-4">
				<h4>Degree Name and Level</h4>
				<p><%= format @thesis.degree_name %> - <%= format @thesis.degree_level %></p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h4>Program</h4>
				<p><%= format @thesis.program %></p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h4>Examination committee members</h4>
				<% @thesis.committee_members.each do |committee_member| %>
					<%= render committee_member %>
				<% end %>
		</div>
		</div>
	</div>

	<%= simple_form_for [@student, @thesis], html: { class: "form-horizontal border border-2 bg-light" } do |f| %>
		<% if @thesis.errors.any? %>
			<div id="error_explanation" class="p-3 bg-warning-subtle">
				<h4><%= pluralize(@thesis.errors.count, "error") %></h4>
				<ul>
					<% @thesis.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<h4 class="text-dark">Please provide the information requested in the following fields. </h4>
		<%= render partial: "theses/form_student_editable", locals: { f: f } %>
		<input type="submit" name="Save Details" value="" class="d-none" aria-label="Save Details">
		<hr/>
		
		<div class="process-nav d-flex justify-content-end">
			<a href="<%= student_view_thesis_process_path(@thesis, Thesis::PROCESS_BEGIN) %>" class="btn btn-lg btn-primary me-2" title="Begin Submission">
				<i class="fa fa-angle-double-left"></i>
			</a>

			<a href="#" class="btn btn-lg btn-success" title="Save Details and Continue" onclick="$(this).closest('form').submit(); return false">
				<i class='fa fa-angle-double-right'></i> Continue
			</a>
		</div>

		<div class="d-none error_messages">
			<%= f.error_messages %>
		</div>
	<% end %>
</div>

<% render partial: "theses/form_help_text" %>
