<% title "#{@student.name}" %>

<% title_html do %>
	<h4 class="fw-lighter">My ETD Submission</h4>
	<h1 class="border-bottom"><%= @student.name %></h1>
<% end %>

<%= progress_bar (Thesis::PROCESS_UPDATE) %>

<div class="student-view fitted update">
	<h3><%= @thesis.title %></h3>
	<%= raw(AppSettings.student_upload_files) %>

<div class="card">
  <div class="card-body">
		<div class="row">
			<div class="col-md-12 col-lg-8">
				<h6>Title</h6>
				<p><%= @thesis.title %></p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h6>Author</h6>
				<p><%= @student.name %></p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h6>Exam date</h6>
				<p><%= @thesis.exam_date.strftime("%B %d, %Y") %></p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h6>Supervisor</h6>
				<p><%= format @thesis.supervisor %></p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h6>Publish On</h6>
				<p><%= @thesis.published_date ? @thesis.published_date.strftime("%B %d, %Y") : format(@thesis.published_date)  %></p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h6>Degree Name and Level</h6>
				<p><%= format @thesis.degree_name %> - <%= format @thesis.degree_level %></p>
			</div>
			<div class="col-md-6 col-lg-4">
				<h6>Program</h6>
				<p><%= format @thesis.program %></p>
			</div>
		</div>

		<div class="row">
		  <h6>Examination committee members</h6>
		  <div class="row">
				<div class="col-6" id="committee_members">
					<% @thesis.committee_members.each do |committee_member| %>
						<%= render committee_member %>
					<% end %>
					<div class="link_section pt-4">
					</div>
				</div>
		  </div>
		</div>
		<%= link_to raw("<i class='fa fa-plus'></i> Add committee member"), new_student_thesis_committee_member_path(@student, @thesis), {remote: true, class: "btn btn-success"} %>
  </div>
</div>
	

<p class="pt-4">Please provide the information requested in the following fields. </p>

<%= simple_form_for [@student, @thesis], html: { class: "form-horizontal" } do |f| %>


	<%= render partial: "theses/form_student_editable", locals: { f: f } %>

	<input type="submit" name="Save Details" value="" class="d-none" aria-label="Save Details">
	<hr/>

	<div class="process-nav float-end">
		<a href="<%= student_view_thesis_process_path(@thesis, Thesis::PROCESS_BEGIN) %>" class="next-btn back btn btn-primary" title="Begin Submission">
			<i class="fa fa-angle-double-left"></i></a>

			<a href="#" class="next-btn save btn btn-success" title="Save Details and Continue" onclick="$(this).closest('form').submit(); return false">
				<i class='fa fa-angle-double-right'></i> Continue
			</a>
	</div>

	<div class="hide error_messages">
		<%= f.error_messages %>
	</div>

<% end %>
</div>

<% render partial: "theses/form_help_text" %>
