<% title "#{@student.name}" %>

<% title_html do %>
	<h4 class="fw-lighter">My ETD Submission</h4>
	<h1 class="border-bottom"><%= @student.name %></h1>
<% end %>

<%= progress_bar (Thesis::PROCESS_UPLOAD) %>

<div class="student-view fitted upload">
	<div class="thesis row">

		<div class="span9">
			<h3 class="title" title="title"><%= @thesis.title %></h3>
		</div>
	</div>


	<h6 class="green">Files and Documents</h6>
	<div class="documents">
		<div class="alert alert-secondary" role="alert">
			<%= raw(AppSettings.student_upload_files) %>
		</div>

		<h6>Primary &nbsp; &nbsp;
				<%  unless block_thesis_changes?(@thesis) %>
					<% if @primary_documents.count == 0 %>
						<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#primary-file">Upload Primary File</button>
					<% end %>
				<% end %>
		</h6>

		<% @primary_documents.each do | document | %>
			<%= render partial: document %>
		<% end %>

		<% if @primary_documents.count == 0 %>
			<p>There is no <strong>primary</strong> file or document attached to this thesis/dissertation.</p>
		<% end %>

		<div class="push-down"></div>

		<h6>Supplementary  &nbsp; &nbsp;
				<%  unless block_thesis_changes?(@thesis) %>
					<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#supplemental-files">Upload Supplementary Files</button>
				<% end %>
		</h6>

		<% @supplemental_documents.each do | document | %>
			<%= render partial: document %>
		<% end %>
		<% if @supplemental_documents.count == 0 %>
			<p>There are no <strong>supplementary</strong> files or documents attached to this thesis/dissertation.</p>
		<% end %>



	</div>

	<%  unless block_thesis_changes?(@thesis) %>
		<hr/>
		<div class="process-nav float-end">
			<a href="<%= student_view_thesis_process_path(@thesis, Thesis::PROCESS_UPDATE) %>" class="next-btn back btn btn-primary" title="Update Details">
				<i class="fa fa-angle-double-left"></i></a>
			<a href="<%= student_view_thesis_process_path(@thesis, Thesis::PROCESS_REVIEW) %>" class="next-btn btn btn-success" title="Continue to Review Details">
	 			<i class="fa fa-angle-double-right"></i> Continue
			</a>
		</div>
	 <% end %>

</div>


	<%= render partial: "documents/new_form", locals: { primary: true } %>

	<%= render partial: "documents/new_form", locals: { primary: false } %>
