<% title "#{@student.name}" %>

<% title_html do %>
	<h1>
		<span class="fw-lighter text-secondary d-block lead ">My ETD Submission</span> 
		<%= @student.name %>
	</h1>
<% end %>

<%= progress_bar (Thesis::PROCESS_UPLOAD) %>

<div class="student-view fitted upload">
	<h2>Files and Documents</h2>
	<div class="settings-content">
		<%= raw(AppSettings.student_upload_files) %>
	</div>
	<h3 title="Thesis Title"><%= @thesis.title %></h3>

	<div class="thesis data-grid">
		<hr/>
	</div>

	<div class="documents">
		<div class="bg-light p-3">
			<h4>Primary file (thesis/ dissertation):</h4>
			<%  unless block_thesis_changes?(@thesis) %>
				<% if @primary_documents.count == 0 %>
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#primary-file">Upload Primary File</button>
				<% end %>
			<% end %>

			<% @primary_documents.each do | document | %>
				<%= render partial: document %>
			<% end %>

			<% if @primary_documents.count == 0 %>
				<p class="mt-3">There is no <strong>primary</strong> file or document attached to this thesis/dissertation.</p>
			<% end %>
		</div>

		<div class="push-down"></div>

		<div class="bg-light mt-3 p-3">
			<h4>Supplementary</h4>
				<%  unless block_thesis_changes?(@thesis) %>
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#supplemental-files">Upload Supplementary Files</button>
				<% end %>

			<div class='mt-3'>
			<% @supplemental_documents.each do | document | %>
				<% if document.usage == "thesis" %>
					<%= render partial: document %>
				<% end %>
			<% end %>
			<% if @supplemental_documents.count == 0 %>
				<p class="mt-3">There are no <strong>supplementary</strong> files or documents attached to this thesis/dissertation.</p>
			<% end %>
		</diV>
	</div>

	<%  unless block_thesis_changes?(@thesis) %>
		<hr/>
		<div class="process-nav d-flex justify-content-end">
			<a href="<%= student_view_thesis_process_path(@thesis, Thesis::PROCESS_UPDATE) %>" class="btn btn-lg btn-primary me-2" title="Begin Submission">
				<i class="fa fa-angle-double-left"></i>
			</a>

			<a href="<%= student_view_thesis_process_path(@thesis, Thesis::PROCESS_REVIEW) %>" class="next-btn btn btn-success btn-lg" title="Continue to Review Details">
	 			<i class="fa fa-angle-double-right"></i> Continue
			</a>
		</div>
	 <% end %>

</div>


	<%= render partial: "documents/new_form", locals: { primary: true } %>

	<%= render partial: "documents/new_form", locals: { primary: false } %>
