<% title "#{@student.name}" %>

<% title_html do %>
	<h1>
		<span class="text-secondary"><%= @student.name %></span>
	</h1>
	<h2>
		<span class="fw-lighter text-secondary lead"><%= @thesis.title %></span>
	</h2>
<% end %>

<%= progress_bar (Thesis::PROCESS_UPLOAD) %>

<div class="student-view fitted upload">
	<h2>Files and Documents</h2>
	<div class="settings-content">
		<%= raw(AppSettings.student_upload_files) %>
	</div>

	<div class="documents">
		<h4>Primary Thesis File</h4>
		<% if @primary_documents.count == 0 %>
			<p>There are no primary thesis files.</p>
		<% end %>
		<% @primary_documents.each do | document | %>
			<%= render partial: document %>
		<% end %>
		<%  unless block_thesis_changes?(@thesis) %>
			<% if @primary_documents.count == 0 %>
				<%= link_to new_student_thesis_document_path(@student, @thesis, usage: 'thesis', supplemental: false), class: "btn btn-primary", remote: true do %>
					Upload Primary Thesis File
				<% end %>
			<% end %>
		<% end %>

		<h4>Supplementary Thesis Files</h4>
		<% if @supplemental_documents.count == 0 %>
			<p>There are no supplementary thesis files.</p>
		<% end %>
		<% @supplemental_documents.each do | document | %>
			<% if document.usage == "thesis" %>
				<%= render partial: document %>
			<% end %>
		<% end %>
		<% unless block_thesis_changes?(@thesis) %>
			<%= link_to new_student_thesis_document_path(@student, @thesis, usage: 'thesis', supplemental: true), class: "btn btn-primary", remote: true do %>
					Upload Supplementary Thesis Files
			<% end %>
		<% end %>
	</div>

	<% unless block_thesis_changes?(@thesis) %>
		<hr/>
		<div class="process-nav d-flex justify-content-end">
			<a href="<%= student_view_thesis_process_path(@thesis, Thesis::PROCESS_UPDATE) %>" class="btn btn-lg btn-primary me-2" title="Begin Submission">
				<i class="fa fa-angle-double-left"></i>
			</a>

			<a href="<%= student_view_thesis_process_path(@thesis, Thesis::PROCESS_REVIEW) %>" class="next-btn btn btn-success btn-lg" title="Continue to Review Details">
	 			<i class="fa fa-angle-double-right"></i> Continue
			</a>
		</div>
	 <% end %>
</div>
