<%= simple_form_for @student, html: { class: "form-horizontal" } do |f| %>

	<%= f.input :name, input_html: { class: "span4" } %>
	<%= f.input :sisid, input_html:  { class: "span2" }  %>
	<%= f.input :username, input_html:  { class: "span2" } %>
	<%= f.input :email, input_html:  { class: "span6" } %>



	<div class="controls">
		<%= f.button :submit %> or <%= link_to "Cancel", @student.new_record? ? students_path : @student, class: "red" %>
	</div>

	<% if can? :destroy, Student %>

		<br/><br/>
		<p class="alert fitted" id="delete_student_promt">
			<a href="#" onclick="$('#delete_student').show(); $(this).parent().hide();" class="red"><i class="fa fa-trash"></i> Delete Student Record?</a>
		</p>
		<div class="alert alert-error fitted hide" id="delete_student">
			<p>You can delete this student from the system completely. </p>
				<p>However, <strong>anything associated with the student will be deleted as well.</strong>. Proceed with caution.</p>

			<p class="alert alert-info"><span class="strong">This action can not be reveresed</span>:<br/><br/>
			<%= link_to  @student, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure? This action can't be reversed."} do %>
				<i class="fa fa-trash"></i> Delete Student Record?
			<% end %> or <a href="#" onclick="$('#delete_student').hide(); $('#delete_student_promt').show();">Cancel</a>
			</p>

		</div>
	<% end %>
<% end %>
