	<div class="row">
	  	<span class="fw-lighter text-secondary d-block lead ">Student Record</span> 
		<div class="col-sm-12 col-lg-7">
			<h1 title="<%= @student.sisid %>">
				<%= link_to_unless controller.controller_name == "students" && controller.action_name == "show", @student.name, @student, title: @student.sisid %>
				<% if @student.blocked? %><i class="fa fa-ban text-danger" title="blocked"></i><% end %>
			</h1>
			<p class="trivial fw-light text-warning-emphasis mb-0">Created by <%= @student.created_by.name%>
			<% if can?(:login_as, :student) && is_controller_and_action?("students", "show") %>
			- <%= link_to "Login as this student", login_as_student_path(id: @student.id) %>
			<% end %>
			</p>
		</div>
		<div class="col-sm-12 col-lg">
			<div class="row justify-content-end">
			 <% if controller_name == "students" && action_name == "show" %>
				<div class="col">
					<%= link_to "Audit trail", audit_trail_student_path(@student) %><br/>
					<span class="trivial">all actions</span>
				</div>
				<div class="col">
					<%= link_to "Make changes", edit_student_path(@student), class: "text-success" %><br/>
					<span class="trivial">to student details</span>	
				</div>
				<div class="col">
					<% if @student.blocked? %>
						<%= link_to "Unblock student",  unblock_student_path(@student), method: :post, :data => { :confirm => 'Are you sure?'}, :class => "text-danger"  %><br/>
						<span class="trivial">allow access</span>
					<% else %>
						<%= link_to "Block student",  block_student_path(@student), :data => { :confirm => 'Are you sure?'} , :method => :post, :class => "text-danger" %><br/>
						<span class="trivial">disable access</span>
					<% end %>
				</div>
			<% else %>
				<% if current_user.role != User::STUDENT %>
					<div class="col-sm-12 col-lg-4">
						<%= link_to "Student Details", student_path(@student), class: "green" %><br/>
						<span class="trivial">and thesis dddd</span>
					</div>
				<% end %>
			 <% end %>
			</div>
		</div>
	</div>
