<% title "#{@student.name} - Audit Trail" %>
<% title_html do %>
	<%= render partial: "students/header" %>
<% end %>

	

<section id="audit_trail" class="fitted">
	<h3>Audit Trail</h3>
	
	<table class="table table-striped">

		<% @audits_grouped.each do |date, events| %>
			<tr class="date">
				<td colspan="4">
					<span class="trivial"><%= date.strftime('%b %e, %Y')%></span>
				</td>
			</tr>
			<% events.each do |event| %>
				<% type = event.auditable_type %>

			<tr>
				<td class="trivial time"><%= event.created_at.strftime("%R")%></td>
				<td class="what">
					<span class="badge bg-secondary <%= type.underscore.downcase %>"><%= defined?(audit_what) ? audit_what : type.tableize.singularize.humanize %></span>
				</td>
				<td class="distinct"><%= event.comment ? event.comment : event.action %></td>
				<td class="who"><code title="<%= event.action %> "><%= event.user.name if event.user %></code></td>		
			</tr>	
			<% end %>
		<% end %>
	</table>
	
</section>
