<% title "#{@student.name}" %>
<% title_html do %>
	<% if @student.blocked %>
		<div class="alert alert-warning alert-dismissible fitted" role="alert" id="student_blocked_message">
			<strong>This student is blocked from accessing this record.</strong>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	<% end %>
	<%= render partial: "header" %>
<% end %>
<hr/>
<div class="data-grid p-3 pt-1">
	<div class="row">
		<div class="col-6">
			<h4>Username</h4>
			<p><%= @student.username%></p>
			<h4>Email</h4>
			<p><%= @student.email%></p>
			<h4>Invitation</h4>
			<p>
			<% if @student.invitation_sent_at.nil? %>
				<%= link_to_if AppSettings.email_welcome_allow, "Send invitation email", send_invite_student_path(@student), id: "send_invitation_email" %>
			<% else %>
				Sent on <%= @student.invitation_sent_at.strftime("%B %d, %Y")%>
				<span class="soft weak">(<%= link_to_if AppSettings.email_welcome_allow, "Send Again", send_invite_student_path(@student), class: "soft weak"%>)</span>
			<% end %>
			</p>
		</div>
		<div class="col-6">
			<h4>SISID</h4>
			<p><%= @student.sisid %></p>
			<h4>Joined on</h4>
			<p><%= @student.created_at.strftime("%B %d, %Y")%></p>
		</div>
	</div>
</div>

<div>
	<section class="theses pt-3">
		<% if @current_theses.size > 0 %>

			<h2 class="heading text-dark mb-3">Current <%= "thesis".pluralize(@current_theses.count )%></h2>
			<% @current_theses.each do |thesis| %>
				<%= render partial: thesis %>
			<% end %>
			
		<% end %>
		

		<% if @available_theses.size > 0 %>
			<h2 class='text-dark heading clear'>Available <%= "thesis".pluralize(@available_theses.count )%></h2>
			<div class="row">
			<% @available_theses.each do |record| %>
				<div class="col-10">
					<h5 class="fw-light"><%= record.program %></h5>
					<h3><%= record.title %></h3>
				</div>
				<div class="col-2 col-sm-2">
					<a href="<%= new_student_thesis_path(@student, gem_record: record.id) %>" class="btn btn-success btn-small float-end">
						<i class="fa fa-plus"></i> Start this thesis
					</a>
				</div>
			<% end %>
			</div>
		<% end %>

	</section>
</div>
