<% title "#{@student.name}" %>
<% title_html do %>
	<% if @student.blocked %>
		<div class="alert alert-warning alert-dismissible fitted" role="alert" id="student_blocked_message">
			<strong>This student is blocked from accessing this record.</strong>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	<% end %>
	<%= render partial: "header" %>
<% end %>

<div class="card mt-3">
  <div class="card-body">
   <div class="row">
	  <div class="col-6">
	  	<h6>Username</h6>
		<p><%= @student.username%></p>
	  	<h6>Email</h6>
		<p><%= @student.email%></p>
	  	<h6>Invitation</h6>
		<p>
		  <% if @student.invitation_sent_at.nil? %>
		  	<%= link_to_if AppSettings.email_welcome_allow, "Send invitation email", send_invite_student_path(@student) %>
		  <% else %>
			Sent on <%= @student.invitation_sent_at.strftime("%B %d, %Y")%>
			<span class="soft weak">(<%= link_to_if AppSettings.email_welcome_allow, "Send Again", send_invite_student_path(@student), class: "soft weak"%>)</span>
		  <% end %>
		</p>
	  </div>
	  <div class="col-6">
	  	<h6>SISID</h6>
		<p><%= @student.sisid %></p>
	  	<h6>Joined on</h6>
		<p><%= @student.created_at.strftime("%B %d, %Y")%></p>
	  </div>
	 </div>
  </div>
</div>

<div>
	<section class="theses pt-4">

		<% if @current_theses.size > 0 %>

			<h6 class="heading green">Current <%= "thesis".pluralize(@current_theses.count )%></h6>
			<% @current_theses.each do |thesis| %>
				<%= render partial: thesis %>
			<% end %>

		<% end %>

		<% if @available_theses.size > 0 %>
			<h6 class='green heading clear'>Available <%= "thesis".pluralize(@available_theses.count )%></h6>

			<% @available_theses.each do |record| %>
				<table class="thesis not_started">
					<tr>
						<td>
							<h5><%= record.program %></h5>
							<h3><%= record.title %></h3>


						</td>
						<td width="18%">
							<a href="<%= new_student_thesis_path(@student, gem_record: record.id) %>" class="btn btn-success btn-small float-end">
								<i class="fa fa-plus"></i> Start this thesis
							</a>
						</td>
					</tr>
				</table>
			<% end %>
		<% end %>

	</section>
</div>
