<fieldset>
	<div class="row">
		<div class="span4">
			<%= f.input :first_name, label: "First Name", input_html: { class: "committee_member_names" } %>
			<%= f.input :last_name, label: "Last Name", input_html: { class: "committee_member_names" } %>
			</div>
			<div class="span2">
				<%= f.input :role, label: "Choose a Role:", required: false, collection: CommitteeMember::ROLES%>
			</div>
			<div class="span1 float-right strong" style="font-size: 20px; padding-top: 6px; ">
			 <%= link_to '#', class: "remove_fields red", title: "Remove Committee Member" do %>
			 	&times;
			 <% end %>
			</div>
	</div>

	<%= f.hidden_field :_destroy %>

</fieldset>
