<%= simple_form_for [@student, @thesis], html: { class: "form-horizontal" } do |f| %>

	<%= render partial: "form_admin_editable", locals: { f: f } %>
	
	<hr class="fitted" style="border-color: black;"/>
	
	<%= render partial: "form_student_editable", locals: { f: f } %>

	<%= f.input :gem_record_event_id, as: :hidden %>
	
	<hr class="fitted"/>
	
	<div class="action controls">
		<%= f.button :submit, class: "btn btn-success" %>  or <%= link_to "Cancel",  @thesis.new_record? ? @student :  [@student, @thesis] %>
	</div>

	<div class="hide error_messages">
		<%= f.error_messages %>
	</div>

<% end %>


