<%= simple_form_for [@student, @thesis], html: { class: "form-horizontal thesis-form" } do |f| %>

	<% if f.error_messages %>
		<div class="alert alert-danger error_messages">
			<%= f.error_messages %>
		</div>
	<% end %>

	<%= render partial: "form_admin_editable", locals: { f: f } %>

	<%= content_for :admin_editable_part_1 %>
	
	<%= render partial: "form_student_editable", locals: { f: f } %>

	<%= content_for :admin_editable_part_2 %>

	<%= f.input :gem_record_event_id, as: :hidden %>
		
	<div class="action controls">
	  <%= f.button :submit, class: "btn btn-success" %>  
	  <%= link_to "Cancel",  @thesis.new_record? ? @student :  [@student, @thesis], class: "btn btn-secondary" %>
	</div>

<% end %>
