<% content_for :admin_editable_part_1 do %>
	<%= f.input :title, as: :text, input_html: { class: "span6", rows: 2 }, readonly: read_only_if_student("title") %>
	<%= f.input :author, input_html: { class: "span4" }, readonly: read_only_if_student("author") %>
	<%= f.input :supervisor, input_html: { class: "span4" }, readonly: read_only_if_student("supervisor") %>


	<%= f.input :exam_date, as: :string, readonly:  read_only_if_student("exam_date"), input_html: { class: "hide", autocomplete: "off"} %>

	<%= f.input :program, input_html: { class: "span6", rows: "2" }, as: :text, readonly: read_only_if_student("program")  %>

	<% if  read_only_if_student("degree_name") %>
		<%= f.input :degree_name, readonly: true %>
		<%= f.input :degree_level, readonly: true %>
	<% else %>
		<%= f.input :degree_name, collection: Thesis::DEGREENAME %>
		<%= f.input :degree_level, collection: Thesis::DEGREELEVEL  %>
	<% end %>

	<%= f.input :published_date, label: "Publication Date", collection: publish_on_dates(6.months) %>

		
			<div id="committee_members">
				<fieldset>
		  		<legend>Committee Members</legend>
		  		<div class="committee_members_list">
						<% @thesis.committee_members.each do |committee_member| %>
							<%= render committee_member %>
						<% end %>
					</div>
				</fieldset>
				<% if @thesis.id && current_user.role != User::STUDENT %>
				  <%= link_to raw("<i class='fa fa-plus'></i> Add committee member"), new_student_thesis_committee_member_path(@student, @thesis), {remote: true, class: "btn btn-sm btn-secondary add_committee_member"} %>
			  <% end %>
			</div>

<% end %>

<% content_for :admin_editable_part_2 do %>
  <div class="row">
		<div class="col-12">
			<%= f.input :notes, as: :text, input_html: { class: 'form-control', rows: 10, cols: 10} %>
		</div>
  </div>
<% end %>
