<div class="thesis py-3">
	<div class="card">
		<h5 class="card-header">
			<div class="pull-right">
				<span class="badge rounded-pill text-bg-secondary label status status-<%= thesis.status %>"><%= thesis.status.humanize %></span>
			</div>
			<%= link_to thesis.title, student_thesis_path(thesis.student, thesis) %> 						
		</h5>
		<div class="card-body">
			<h5 class="card-title">
				<% unless @student %>
					<p class="author trivial" title="student id: <%= thesis.student.sisid %>">By <%= thesis.student.name %></p>
				<% end %>
			</h5>
			<div class="row">
				<div class="col">
					<div class="row">
						<div class="col-4">Supervisor</div>
						<div class="col fw-bold"><%= thesis.supervisor %></div>
					</div>
					<div class="row">
						<div class="col-4">Exam date</div>
						<div class="col fw-bold"><%= thesis.exam_date.strftime("%B %d, %Y") %></div>
					</div>

					<div class="row">
						<div class="col-4">Degree Name and Level</div>
						<div class="col fw-bold"><%= format thesis.degree_name %> - <%= format thesis.degree_level %></div>
					</div>
					<div class="row">
						<div class="col-4">Program</div>
						<div class="col fw-bold"><%= format thesis.program %></div>
					</div>
				</div>
				<div class="col-2">
					<div class="pull-right">
						<%= render partial: "theses/assigned_to", locals: { thesis: thesis }%>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>