<% title "#{@student.name} - Thesis" %>
<% title_html do %>

<div class="row">
	<%= render partial: "students/header" %>
	<div class="col-12 py-0"><hr /></div>
</div>
	<% end %>

<div class="row">
	<div class="col-md-6">
		<div class="fw-lighter text-secondary lead" title="student: <%= @thesis.author %> - <%= @thesis.student.sisid %>">
			By <%= @thesis.author %> | <%= number_with_delimiter(@thesis.student.sisid, delimiter: " ") %>
		</div> 
		<h2><span class="fw-lighter text-secondary lead"><%= @thesis.title %></span></h2>
	</div>
	<div class="col-md-6">
		<div class="row">
			<% if current_user.role == User::STUDENT %>
				<div class="col">
					<div id="status_menu">
						<button id="" class="btn" title="Change Thesis Status">
							Status: <span class="status status-<%= @thesis.status %>"><%= @thesis.status.humanize %></span>
						</button>
					</div>
				</div>
			<% else %>
				<div class="col-4">
					<h4 class="fs-6">Edit thesis</h4>
					<div><%= link_to "Make Changes", edit_student_thesis_path(@student, @thesis), class: "btn btn-success btn-sm d-grid" %></div>	
				</div>
				<div class="col-4">
						<h4 class="fs-6">Change status</h4>
						<%= render partial: "status_menu"%>	
				</div>
				<div class="col-4">
					<h4 class="fs-6">Assign to</h4>
					<div class="span d-grid">
						<%= render partial: "assigned_to", locals: { thesis: @thesis }%>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>

<hr />

<%= render partial: "thesis_details" %>

<hr />

<% if current_user.role != User::STUDENT %>
<div id="admin-fields">
	<div class="row">
		<div class="col-md-4">
			<h4>Student Accepted Terms On</h4>
			<p class="language"><%= format @thesis.student_accepted_terms_at %></p>
		</div>
		<div class="col-md-4">
			<h4>Returned Message</h4>
			<% if @thesis.returned_message.present? && Thesis::RETURNED == @thesis.status %>
				<div class="alert alert-danger" role="alert">
					<%= @thesis.returned_message %>
				</div>
			<% else %>
				None.
			<% end %>
		</div>
		<div class="col-md-4">
			<h4>Permanent Embargo</h4>
			<% if @thesis.embargoed == true %>
				<div class="alert alert-warning" role="alert">This thesis has been placed under permanent embargo. It will not be published.
					<hr />
					<%= format @thesis.embargo, true, "Embargo explanation was not filled in..." %>
				</div>
			<% else  %>
				<div id="place_under_embargo_button">
					<%= link_to new_student_thesis_embargo_path(@student, @thesis), class: "btn btn-warning", data: { remote: true } do %>
						Place under permanent embargo?
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-6 col-md-3"><h4>Last Under Review: </h4> <p><%= format @thesis.under_review_at %></p></div>
		<div class="col-6 col-md-3"><h4>Last Returned: </h4> <p><%= format @thesis.returned_at %></p></div>
		<div class="col-6 col-md-3"><h4>Thesis Accepted: </h4> <p><%= format @thesis.accepted_at %></p></span></div>
		<div class="col-6 col-md-3"><h4>Published: </h4> <p><%= format @thesis.published_at %></p></div>
	</div>
	<hr/>
</div>
<% end %>

<div class="documents fitted student-view">
	<h4>Files and Documents</h4>

	<div class="bg-light-subtle mt-3 p-3">
		<h5>Primary Thesis File</h5>
		<% if @primary_documents.count == 0 %>
			<p>There are no primary thesis files.</p>

			<%  unless block_thesis_changes?(@thesis) %>
				<%= link_to new_student_thesis_document_path(@student, @thesis, usage: 'thesis', supplemental: false), class: "btn btn-primary", remote: true do %>
						Upload Primary Thesis Files
				<% end %>
			<% end %>
		<% end %>
		<% @primary_documents.each do | document | %>
			<%= render partial: document %>
		<% end %>
	</div>
	
	<div class="bg-light-subtle mt-3 p-3">
		<h5>Supplementary Thesis Files</h5>
		<% if @supplemental_documents.count == 0 %>
			<p>There are no supplementary thesis files.</p>
		<% end %>
		<% @supplemental_documents.each do | document | %>
			<% if document.usage == 'thesis'%>
				<%= render partial: document %>
			<% end %>
		<% end %>
		<%  unless block_thesis_changes?(@thesis) %>
			<%= link_to new_student_thesis_document_path(@student, @thesis, usage: 'thesis', supplemental: true), class: "btn btn-primary", remote: true do %>
					Upload Supplementary Thesis Files
			<% end %>
		<% end %>
	</div>
	
	<div class="bg-light-subtle mt-3 p-3">
		<h5>Licence Agreements</h5>
		<% if @licence_documents.count == 0 %>
			<p>There are no licence agreements.</p>
		<% end %>
		<% @licence_documents.each do | document | %>
			<div class='licence-file'>
				<%= render partial: document %>
			</div>
		<% end %>
		<%  unless block_thesis_changes?(@thesis) %>
			<%= link_to new_student_thesis_document_path(@student, @thesis, usage: 'licence', supplemental: true), class: "btn btn-primary", remote: true do %>
					Upload Licence Agreements
			<% end %>
		<% end %>
	</div>
	
	<div class="bg-light-subtle mt-3 p-3">
		<h5>Embargo Documents</h5>
		<% if @embargo_documents.count == 0 %>
			<p>There are no embargo documents.</p>
		<% end %>
		<% @embargo_documents.each do | document | %>
			<div class='embargo-file'>
				<%= render partial: document %>
			</div>
		<% end %>
		<%  unless block_thesis_changes?(@thesis) %>
			<%= link_to new_student_thesis_document_path(@student, @thesis, usage: 'embargo', supplemental: true), class: "btn btn-primary", remote: true do %>
					Upload Embargo Documents
			<% end %>
		<% end %>
	</div>
</div>

<hr />

<div>
	<h4>Thesis Notes</h4>
	<%= @thesis.notes %>
</div>