<% title "#{@student.name} - Thesis" %>
<% title_html do %>
	<%= render partial: "students/header" %>
<% end %>
<hr />
<div class="row">
	<div class="col-sm-12 col-lg-5">
		<h5 class="author" title="author">By <%= @thesis.author %> | <%= number_with_delimiter(@thesis.student.sisid, delimiter: " ") %></h5>
		<h3 class="title" title="title"><%= @thesis.title %></h3>
	</div>
	<div class="col-lg-2 d-none d-lg-block"></div>
	<div class="col-sm-12 col-lg">
	  <div class="row">
		<div class="col">
			<span class="badge text-bg-light">Edit thesis</span>
			<div><%= link_to "Make Changes", edit_student_thesis_path(@student, @thesis), class: "btn btn-success" unless @thesis.status == Thesis::PUBLISHED %></div>
		</div>
		<div class="col">
			<% if @thesis.status == Thesis::PUBLISHED %>
				<div id="status_menu">
					<button id="" class="btn" title="Change Thesis Status">
					Status: <span class="status status-<%= @thesis.status %>"><%= @thesis.status.humanize %></span>
					</button>
				</div>
			<% else%>
				<span class="badge text-bg-light">Change status</span>
				<%= render partial: "status_menu"%>
			<% end %>
		</div>
		<div class="col">
			<% unless @thesis.status == Thesis::PUBLISHED %>
				<span class="badge text-bg-light">Assign to</span>
				<div class="span">
					<%= render partial: "assigned_to", locals: { thesis: @thesis }%>
				</div>
			<% end %>
		</div>
	  </div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-12 pt-3">
			<span class="badge text-bg-light">Abstract</span>
			<p><%= format @thesis.abstract, true %></p>
		</div>
		<div class="col-sm-12 col-md-4">
			
				<span class="badge text-bg-light">Supervisor</span>
				<p><%=  @thesis.supervisor %></p>
				<span class="badge text-bg-light">Exam date</span>
				<p><%= @thesis.exam_date ? @thesis.exam_date.strftime("%B %d, %Y") : format(@thesis.exam_date)  %></p>
				
			
		</div>
		<div class="col-sm-12 col-md-4">
			
				<span class="badge text-bg-light">Examining committee</span>
				
				<div class="committee_members" id="committee_members">
					<% @thesis.committee_members.each do |committee_member| %>
						<%= render partial: committee_member %>
					<% end %>
					<% if @thesis.status != Thesis::PUBLISHED %>
						<div class="link_section">
							<div class="add_link" colspan="3">
								<%= link_to "+ Add committee member", new_student_thesis_committee_member_path(@student, @thesis), {remote: true, class: "btn btn-success"} %>
							</div>
						</div>
					<% end %>
				</div>
			
		</div>
		<div class="col-lg-4 d-none d-lg-block">
		</div>
	</div>
</div>

<hr />

<div class="container">
	<div class="row">
		<div class="col-4">
				<span class="badge text-bg-light">Publish On</span>
				<p class="published_date">
					<% if @thesis.embargoed == true %>
						Never
					<% else %>
						<%= @thesis.published_date ? @thesis.published_date.strftime("%B %d, %Y") : format(@thesis.published_date)  %>
					<% end %>
				</p>
				<span class="badge text-bg-light">Degree Name and Level</span>
				<p class="degree_level"><%= format @thesis.degree_name %> - <%= format @thesis.degree_level %></p>
				<span class="badge text-bg-light">Program</span>
				<p class="program"><%= format @thesis.program %></p>
		
		</div>
		<div class="col-4">
				<span class="badge text-bg-light">Language</span>
				<p class="language"><%= format @thesis.language %></p>
				<span class="badge text-bg-light">Student Accepted Terms On</span>
				<p class="language"><%= format @thesis.student_accepted_terms_at %></p>
				<span class="badge text-bg-light">Subjects</span>
				<p class="subjects"><%= format @thesis.loc_subjects.map(&:name).join ', ' %></p>
				<span class="badge text-bg-light">Keywords</span>
				<p class="keywords"><%= format @thesis.keywords%></p>
		</div>
		<div class="col-4">
				<span class="badge text-bg-light">Permanent Embargo</span>
				<% if @thesis.embargoed == true %>
				<div class="alert alert-danger" role="alert">This thesis has been placed under permanent embargo. It will not be published.
					<hr />
					<%= format @thesis.embargo, true, "Embargo explanation was not filled in..." %>
				</div>
				<% else  %>
					<div id="place_under_embargo_button">
						<%= link_to new_student_thesis_embargo_path(@student, @thesis), class: "btn btn-warning position-relative start-50 translate-middle-x", data: { remote: true } do %>
							Place under permanent embargo?
						<% end %>
					</div>
				<% end %>
		</div>
	</div>
</div>

<hr class="fitted clear"/>
<div class="row">
	<div class="col-3 span2 distinct strong"><span class="badge text-bg-light">Last Under Review: </span> <br/><%= format @thesis.under_review_at %></div>
	<div class="col-3 span2 distinct strong"><span class="badge text-bg-light">Last Returned: </span> <br/><%= format @thesis.returned_at %></div>
	<div class="col-3 span2 distinct strong"><span class="badge text-bg-light">Thesis Accepted: </span> <br/><%= format @thesis.accepted_at %></span></div>
	<div class="col-3 span2 distinct strong"><span class="badge text-bg-light">Published: </span> <br/><%= format @thesis.published_at %></div>
</div>
<hr />
<div class="documents fitted">

	<h3>Thesis Files and Documents</h3>

	<% @primary_documents.each do | document | %>
		<%= render partial: document %>
	<% end %>

	<% if @primary_documents.count == 0 %>
		<p>There are no <strong>primary</strong> files or documents attached to this thesis.</p>
	<% end %>



	<h6>Supplemental</h6>
	<% @supplemental_documents.each do | document | %>
		<%= render partial: document %>
	<% end %>
	<% if @supplemental_documents.count == 0 %>
		<p>There are no <strong>supplemental</strong> files or documents attached to this thesis.</p>
	<% end %>


</div>
