<% title "#{@student.name} - Thesis" %>
<% title_html do %>

  <div class="row">
	<%= render partial: "students/header" %>
	<div class="col-12 py-0"><hr /></div>
  </div>
<% end %>
  <div class="row">
	<div class="col-sm-12 col-lg-6">
		<h5 class="author" title="author">By <%= @thesis.author %> | <%= number_with_delimiter(@thesis.student.sisid, delimiter: " ") %></h5>
		<h3 class="title" title="title"><%= @thesis.title %></h3>
	</div>
	<div class="col-sm-12 col-lg">
	  <div class="row">
			<div class="col-4">
			  <% unless @thesis.status == Thesis::PUBLISHED %>
				<h6 class="text-black">Edit thesis</h6>
				<div><%= link_to "Make Changes", edit_student_thesis_path(@student, @thesis), class: "btn btn-success btn-sm d-grid" %></div>
			  <% end %>
			</div>
			<div class="col-5">
				<% if @thesis.status == Thesis::PUBLISHED %>
					<div id="status_menu">
						<button id="" class="btn" title="Change Thesis Status">
						Status: <span class="status status-<%= @thesis.status %>"><%= @thesis.status.humanize %></span>
						</button>
					</div>
				<% else%>
					<h6 class="text-black">Change status</h6>
					<%= render partial: "status_menu"%>
				<% end %>
			</div>
			<div class="col">
				<% unless @thesis.status == Thesis::PUBLISHED %>
					<h6 class="text-black">Assign to</h6>
					<div class="span d-grid">
						<%= render partial: "assigned_to", locals: { thesis: @thesis }%>
					</div>
				<% end %>
			</div>
	  </div>
	</div>
  </div>

	<div class="row">
		<div class="col-12 pt-3">
			<h6>Abstract</h6>
			<p><%= format @thesis.abstract, true %></p>
		</div>
		<div class="col-sm-12 col-md-4">
			
				<h6>Supervisor</h6>
				<p><%=  @thesis.supervisor %></p>
				<h6>Exam date</h6>
				<p><%= @thesis.exam_date ? @thesis.exam_date.strftime("%B %d, %Y") : format(@thesis.exam_date)  %></p>
				
			
		</div>
		<div class="col-sm-12 col-md-4">
			
				<h6>Examining committee</h6>
				
				<div class="committee_members" id="committee_members">
					<% @thesis.committee_members.each do |committee_member| %>
						<%= render "committee_members/committee_member_read", committee_member: committee_member %>
					<% end %>
				</div>
			
		</div>
				
		<% if @thesis.returned_message.present? && Thesis::RETURNED == @thesis.status %>
		<div class="col-lg-4 col-sm-12">
			<h6>Returned message</h6>
			<div class="alert alert-danger" role="alert">
				<%= @thesis.returned_message %>
			</div>
		<% else %>
		<div class="col-lg-4 d-none d-lg-block">
		<% end %>
		</div>
		<div class="col-12"><hr /></div>
	</div>

	<div class="row">
		<div class="col-4">
				<h6>Publish On</h6>
				<p class="published_date">
					<% if @thesis.embargoed == true %>
						Never
					<% else %>
						<%= @thesis.published_date ? @thesis.published_date.strftime("%B %d, %Y") : format(@thesis.published_date)  %>
					<% end %>
				</p>
				<h6>Degree Name and Level</h6>
				<p class="degree_level"><%= format @thesis.degree_name %> - <%= format @thesis.degree_level %></p>
				<h6>Program</h6>
				<p class="program"><%= format @thesis.program %></p>
		
		</div>
		<div class="col-4">
				<h6>Language</h6>
				<p class="language"><%= format @thesis.language %></p>
				<h6>Student Accepted Terms On</h6>
				<p class="language"><%= format @thesis.student_accepted_terms_at %></p>
				<h6>Subjects</h6>
				<p class="subjects"><%= format @thesis.loc_subjects.map(&:name).join ', ' %></p>
				<h6>Keywords</h6>
				<p class="keywords"><%= format @thesis.keywords%></p>
		</div>
		<div class="col-4">
			<div class="row p-1">
				<h6>Permanent Embargo</h6>
				<% if @thesis.embargoed == true %>
				<div class="alert alert-warning" role="alert">This thesis has been placed under permanent embargo. It will not be published.
					<hr />
					<%= format @thesis.embargo, true, "Embargo explanation was not filled in..." %>
				</div>
				<% else  %>
					<div id="place_under_embargo_button">
						<%= link_to new_student_thesis_embargo_path(@student, @thesis), class: "btn btn-warning", data: { remote: true } do %>
							Place under permanent embargo?
						<% end %>
					</div>
				<% end %>
			</div>
		</div>
	</div>

	<div class="row">
	<div class="col-12"><hr /></div>
	<div class="col-3 span2 distinct strong"><h6>Last Under Review: </h6> <%= format @thesis.under_review_at %></div>
	<div class="col-3 span2 distinct strong"><h6>Last Returned: </h6> <%= format @thesis.returned_at %></div>
	<div class="col-3 span2 distinct strong"><h6>Thesis Accepted: </h6> <%= format @thesis.accepted_at %></span></div>
	<div class="col-3 span2 distinct strong"><h6>Published: </h6> <%= format @thesis.published_at %></div>
  </div>

	<div class="row">
	<div class="documents fitted">

	<h6 class="green pt-4">Thesis Files and Documents</h6>

	<h6>Primary</h6>
	<% @primary_documents.each do | document | %>
		<%= render partial: document %>
	<% end %>

	<% if @primary_documents.count == 0 %>
		<p>There are no <strong>primary</strong> files or documents attached to this thesis.</p>
	<% end %>



	<h6>Supplemental</h6>
	<% @supplemental_documents.each do | document | %>
		<%= render partial: document %>
	<% end %>
	<% if @supplemental_documents.count == 0 %>
		<p>There are no <strong>supplemental</strong> files or documents attached to this thesis.</p>
	<% end %>

	</div>
  </div>

	