<div class="gem_record border border-1 border-secondary-subtle rounded-2 p-3">
	<% unless @gem_record %>
		<h2><%= link_to gem_record.studentname, gem_record %></h2>
		<h3><%= gem_record.title %></h3>
	<% end %>
	<div class="table-responsive">
		<table class="table table-striped mb-0">
			<tr>
				<td class="key">Student id</td><td class="value"><%= gem_record.sisid%></td>
				<td class="key">Email Address</td><td class="value"><%= gem_record.emailaddress %></td>
			</tr>
			<tr>
				<td class="key">Supervisor</td><td class="value"><%= gem_record.superv%></td>
				<td class="key">Program</td><td class="value"><%= gem_record.program %></td>
		
			</tr>
			<tr>
				<td class="key">Event Type</td><td class="value"><%= gem_record.eventtype %></td>
				<td class="key">Event Date</td><td class="value"><%= gem_record.eventdate.to_date.strftime("%B %d, %Y") %></td>	
			</tr>
			<tr>
				<td class="key">Exam Result</td><td class="value"><%= gem_record.examresult %></td>
				<td class="key">Exam Date</td><td class="value"><%= gem_record.examdate.to_date.strftime("%B %d, %Y") rescue nil %></td>
			</tr>
			<tr>
				<td class="key">Committee Members</td>
				<td class="value">
					<% gem_record.committee_members.each do |committee_member| %>
							<div class="row" id="committee_member_<%= committee_member.id %>">
								<div class="col"><%= committee_member.name %> - <%= committee_member.role %></div>
							</div>
					<% end %>
				</td>
				<td class="key"></td>
				<td class="value"></td>
			</tr>
		</table>
	</div>

</div>
<br/>