<div class="gem_record">
	<% unless @gem_record %>
		<h3><%= link_to gem_record.studentname, gem_record %></h3>
		<h4><%= gem_record.title %></h4>		
	<% end %>

	<table>
		<tr>
			<td class="blend">student id</td><td class="strong"><%= gem_record.sisid%></td>
			<td class="blend">email address</td><td class="strong"><%= gem_record.emailaddress %></td>
		</tr>
		<tr>
			<td class="blend">supervisor</td><td class="strong"><%= gem_record.superv%></td>
			<td class="blend">program</td><td class="strong"><%= gem_record.program %></td>
	
		</tr>
		<tr>
			<td class="blend">event type</td><td class="strong"><%= gem_record.eventtype %></td>
			<td class="blend">event date</td><td class="strong"><%= gem_record.eventdate.to_date.strftime("%B %d, %Y") %></td>	
		</tr>
		<tr>			
			<td class="blend">exam result</td><td class="strong"><%= gem_record.examresult %></td>
			<td class="blend">exam date</td><td class="strong"><%= gem_record.examdate.to_date.strftime("%B %d, %Y") rescue nil %></td>

		</tr>
	</table>
</div>