<% title "GEM Record" %>
<% title_html do %>
	<h1>
		<span class="fw-lighter text-secondary d-block lead ">GEM Record #<%= @gem_record.seqgradevent%></span>
		<%= @gem_record.studentname %>
	</h1>
	<h2><%= @gem_record.title%></h2>
<% end %>

<%= render partial: @gem_record %>

<% if @student %>
	<%= link_to @student, class: "btn btn-lg btn-success" do %>
		 Go To Student Record <i class="fa  fa-chevron-right"></i>
	<% end %>
<% else %>
	<%= link_to new_student_path(sisid: @gem_record.sisid), method: :get, data: { confirm: "Are you sure?" }, class: "btn btn-lg btn-primary" do %>
		<i class="fa fa-plus"></i> Create ETD Student Record
	<% end %>
<% end %>
