<%= simple_form_for @user do |f| %>

  	<%= f.input :username %>
	<%= f.input :name %>
	<%= f.input :email %>
	<%= f.input :role, :collection =>  User::ROLES  %>
	<div class=" mt-3">
	  <%= f.button :submit, class: "btn btn-primary" %> or <%= link_to "Cancel",  @user.blocked? ? blocked_users_path : users_path %>
	</div>

<% end %>
