<% title "#{@user.name} - Activity" %>

	

<section id="audit_trail" class="fitted">
	<h3>User Activity</h3>
	
	<table class="table table-striped">

		<% @audits_grouped.each do |date, events| %>
			<tr class="date">
				<td colspan="4">
					<span class="trivial"><%= date.strftime('%b %e, %Y')%></span>
				</td>
			</tr>
			<% events.each do |event| %>
				<% type = event.auditable_type %>

			<tr>
				<td class="trivial time"><%= event.created_at.strftime("%R")%></td>
				<td class="what">
					<span class="badge rounded-pill text-bg-secondary <%= type.underscore.downcase %>"><%= defined?(audit_what) ? audit_what : type.tableize.singularize.humanize %></span>
				</td>
				<td class="distinct" width="45%">				
					<% unless event.auditable.nil? %>	
						<%= link_to event.auditable.display_name, auditable_link(event.auditable) %>
					<% end %>
				</td>
				
				<td class="distinct"><%= event.comment ? event.comment : event.action %></td>		
			</tr>	
			<% end %>
		<% end %>
	</table>
	
</section>
