<% title "Users" %>
<% title_html do %>
	<h1>Users</h1>
	<div class="float-right"><p><%= link_to "+ New User", new_user_path %></p></div>
<% end %>

<div class="strong fitted">
	<%= link_to_unless_current "Active Users", users_path %> &nbsp; &nbsp;
	<%= link_to_unless_current "Blocked Users", blocked_users_path %>
</div>

<div class="users fitted">
	<% @user_groups.each do |role, users| %>

		<h6><%= role.pluralize(users.size) %></h6>

		<table>
			<% for user in users %>

			<tr class="user">
				<td>
					<h4><a href="<%= edit_user_path(user) %>"><%= user.name%></a></h4>
					<span class="blend">created by: <%= user.created_by_name %></span>
				</td>
				<td><%= user.username%> - <%= link_to "recent activity", activity_user_path(user) %><br/> <span><%= user.email %></span></td>
				<td class="actions">
					<% unless user.blocked? %>
						<% unless user.id == @current_user.id %>
							<%= link_to block_user_path(user), data: { confirm: "Are you sure?" }, class: "btn btn-small", method: :post do %>
								<i class="fa fa-ban"></i> Block
							<% end %>
						<% end %>
					<% else %>
						<%= link_to unblock_user_path(user), data: { confirm: "Are you sure?" }, class: "btn btn-small", method: :post do %>
							<i class="fa fa-ban"></i> Unblock
						<% end %>
					<% end %>
				</td>

			</tr>
			<% end %>
		</table>
	<% end %>
</div>
