<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#general_email_settings" type="button" role="tab" aria-selected="true">General</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#welcome_email_settings" type="button" role="tab" aria-selected="false">Welcome Email</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#status_change_email_settings" type="button" role="tab" aria-selected="false">Status Change Email</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#helpful_tags_settings" type="button" role="tab" aria-selected="false">Helpful Tags</button>
  </li>
</ul>
<div class="tab-content py-3" id="myTabContent">
  <div class="tab-pane fade show active" id="general_email_settings" role="tabpanel" tabindex="0">
    <div class="row row-cols-1">
      <div class="col">
        <%= f.input :email_allow, as: :radio_buttons, label: "Enable Email Communication?", item_wrapper_class: 'form-check form-check-inline'%>
      </div>
      <div class="col">
        <%= f.input :email_from, label: "From Address", input_html: { class: "input-block-level"} %>
      </div>
    </div>
  </div>

  <div class="tab-pane fade" id="welcome_email_settings" role="tabpanel" tabindex="0">
    <h4>Welcome Email</h4>
    <%= f.input :email_welcome_allow, as: :radio_buttons, label: "Allow Welcome Email?", item_wrapper_class: 'form-check form-check-inline'%>
		<%= f.input :email_welcome_subject, as: :text, label: "Subject" %>
		<%= f.input :email_welcome_body, as: :text, label: "Body", input_html: { rows: 20, class: "span8" } %>
		<p class="help-block">Available Tags: {{student_name}} | {{date}} | {{date-short}} | {{application_url}} </p>
  </div>

  <div class="tab-pane fade" id="status_change_email_settings" role="tabpanel" tabindex="0">
    <h4>Status Change Email</h4>
    <%= f.input :email_status_change_allow, as: :radio_buttons, label: "Allow Status Change Email?", item_wrapper_class: 'form-check form-check-inline'%>
    <%= f.input :email_status_change_subject, as: :text, label: "Subject", input_html: { class: "span8" } %>
    <%= f.input :email_status_change_body, as: :text, label: "Body", input_html: { rows: 20, class: "span8" } %>
    <p class="help-block">Available Tags:
      {{thesis_title}} | {{student_name}} | {{custom_message}} | {{old_status}} | {{new_status}} | {{date}} | {{date-short}}| {{application_url}} </p>
  </div>
  <div class="tab-pane fade" id="helpful_tags_settings" role="tabpanel" tabindex="0">
    <h4>Useful Tags For Email Text</h4>
		<p>These tags will be processed and replace with the actual value before the email is sent out.</p>

		<ul>
			<li><strong>{{student_name}}</strong> - Name of the student</li>
			<li><strong>{{date}}</strong> - Today's date in Aug  1, 2014</li>
			<li><strong>{{date-short}}</strong> - Today's date in 08-01-2014</li>
			<li><strong>{{old_status}}</strong> - OLD Status of the Thesis</li>
      <li><strong>{{new_status}}</strong> - NEW Status of the Thesis</li>
			<li><strong>{{status_message}}</strong> - Status message generated based on new Status of Thesis</li>
      <li><strong>{{custom_message}}</strong> - Custom message by admin added when status is changed</li>
			<hr/>
			<li><strong>{{application_url}}</strong> - Link to <%= AppSettings.app_name %> application. -- <%= root_url %></li>
		</ul>
  </div>
</div>
