<ul class="nav nav-tabs" role="tablist">
  <li class="active">
		<a href="#general_email_settings" role="tab" data-toggle="tab">General</a>
	</li>
  <li><a href="#welcome_email_settings" role="tab" data-toggle="tab">Welcome Email</a></li>
  <li><a href="#status_change_email_settings" role="tab" data-toggle="tab">Status Change Email</a></li>
  <li><a href="#helpful_tags_settings" role="tab" data-toggle="tab">Helpful Tags</a></li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="general_email_settings">
    <div class="row">
      <div class="span4">
        <%= f.input :email_allow, as: :radio_buttons, label: "Enable Email Communication?" %>
      </div>
      <div class="span4">
        <%= f.input :email_from, label: "From Address", input_html: { class: "input-block-level"} %>
      </div>
    </div>


  </div>
  <div class="tab-pane" id="welcome_email_settings">
		<h4>Welcome Email</h4>
    <%= f.input :email_welcome_allow, as: :radio_buttons, label: "Allow Welcome Email?" %>
		<%= f.input :email_welcome_subject, label: "Subject", input_html: { class: "span8" } %>
		<%= f.input :email_welcome_body, as: :text, label: "Body", input_html: { rows: 20, class: "span8" } %>
		<p class="help-block">Available Tags: {{student_name}} | {{date}} | {{date-short}} | {{application_url}} </p>
  </div>
  <div class="tab-pane" id="status_change_email_settings">
			<h4>Status Change Email</h4>
      <%= f.input :email_status_change_allow, as: :radio_buttons, label: "Allow Status Change Email?" %>
			<%= f.input :email_status_change_subject, label: "Subject", input_html: { class: "span8" } %>
			<%= f.input :email_status_change_body, as: :text, label: "Body", input_html: { rows: 20, class: "span8" } %>
			<p class="help-block">Available Tags:
				{{thesis_title}} | {{student_name}} | {{custom_message}} | {{old_status}} | {{new_status}} | {{date}} | {{date-short}}| {{application_url}} </p>
  </div>
  <div class="tab-pane" id="helpful_tags_settings">
		<h4>Useful Tags For Email Text</h4>
		<p>These tags will be processed and replace with the actual value before the email is sent out.</p>

		<ul>
			<li><strong>{{student_name}}</strong> - Name of the student</li>
			<li><strong>{{date}}</strong> - Today's date in Aug  1, 2014</li>
			<li><strong>{{date-short}}</strong> - Today's date in 08-01-2014</li>
			<li><strong>{{old_status}}</strong> - OLD Status of the Thesis</li>
      <li><strong>{{new_status}}</strong> - NEW Status of the Thesis</li>
			<li><strong>{{status_message}}</strong> - Status message generated based on new Status of Thesis</li>
      <li><strong>{{custom_message}}</strong> - Custom message by admin added when status is changed</li>
			<hr/>
			<li><strong>{{application_url}}</strong> - Link to <%= AppSettings.app_name %> application. -- <%= root_url %></li>
		</ul>
  </div>
</div>
