<% title "Update Application Settings" %>

<%= simple_form_for AppSettings.new, url: settings_path, method: :patch, html: { class: "settings" } do |f| %>

	<h5 style="padding-bottom: 10px;">General Settings</h5>
	<div class="row">
		<div class="span4">
			<%= f.input :app_name, input_html: { class: "input-block-level"} %>
		</div>
		<div class="span4">
			<%= f.input :app_owner, input_html: { class: "input-block-level"} %>
		</div>
	</div>

	<hr class="fitted"/>

	<h5 style="padding-bottom: 10px;">Application Maintenance Settings</h5>

	<div class="row">
		<div class="span4">
			<%= f.input :app_maintenance, as: :radio_buttons  %>
		</div>
		<div class="span4">
			<%= f.input :app_maintenance_message, as: :text, input_html:{ rows: 3 } %>
		</div>
	</div>


	<hr class="fitted"/>

  	<h5 class="pb-10">Email Settings</h5>
	<%= render "email_fields", f: f %>

	<hr class="fitted"/>
	<h5 class="pb-10">Student Submission</h5>
	<%= render "student_submission", f: f %>

	<hr class="fitted"/>

	<%= f.submit "Save Settings", class: "btn btn-success" %>
<% end %>

<!-- Nav tabs -->
