<div class="row border rounded mx-auto my-2">
	<div class="col-md-8 p-3">
		<div class="d-flex align-items-center">
			<div class="flex-shrink-0">
				<%= link_to_unless_current edit_student_thesis_document_path(@student, @thesis, document) do %>
					<i class="fa fa-file fa-2x  me-2"></i>
				<% end %>
			</div>
			<div class="flex-grow-1 ms-3">
				<span class="name <%= "supplemental" if document.supplemental? %>" title="<%= File.basename(document.file_url) %>">
					<%= URI.decode_www_form_component(File.basename(document.file_url)) %>
				</span>
				<% if document.name %>
					<%= document.name %>
					&nbsp; &nbsp;
				<% end %>
				
			</div>
		</div>
	</div>
	<div class="col-md-4 d-flex justify-content-end align-items-center">
		<% unless block_thesis_changes?(@thesis) %>
				<% if document.usage != 'licence' %>
					<%= link_to edit_student_thesis_document_path(@student, @thesis, document), class: "btn btn-sm btn-info mx-2", title: "Edit File" do %>
						<i class="fa fa-edit green"></i> Edit file 
					<% end %>
				<% end %>
				<%= link_to document.file_url, class: 'btn btn-sm btn-success mx-2', title: "Download file" do %>
					<i class="fa fa-download"></i> Download
					<span class="weak small">[<%=number_to_human_size document.file.file.size rescue nil%>]</span>
				<% end %>		
				<% unless block_thesis_changes?(@thesis) %>
					<%= link_to [@student, @thesis, document], data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger mx-2", :method => :delete do %>
						<i class="fa fa-trash"></i> Delete
					<% end %>
				<% end %>
			<% end %>
	</div>
</div>
