<%= simple_form_for [@student, @thesis, @document], authenticity_token: true, 
html: {  multipart: true, class: "file-upload" } do |f| %>
  
  <h2 class="fs-6">
  	<% if @document.usage == 'thesis' && !@document.supplemental %>
  	  Upload Primary Thesis File
  	<% end %>
  	<% if @document.usage == 'thesis' && @document.supplemental %>
  	  Upload Supplementary Thesis Files
  	<% end %>
  	<% if @document.usage == 'licence' %>
  		Upload Licence File
  	<% end %>
  	<% if @document.usage == 'embargo' %>
  	  Upload Embargo Documents
  	<% end %>
  </h2>

	<div id="supplementary-help-info" class="alert alert-secondary" role="alert">
		<% if @document.usage == 'thesis' && !@document.supplemental %>
		  <%= raw(AppSettings.student_primary_upload_files) %>
  	<% end %>
  	<% if @document.usage == 'thesis' && @document.supplemental %>
  	  <%= raw(AppSettings.student_supplementary_upload_files) %>
  	<% end %>
  	<% if @document.usage == 'licence' %>
  	  <%= raw(AppSettings.student_supplementary_licence_upload_files) %>
  	<% end %>
  	<% if @document.usage == 'embargo' %>
  	  <%= raw(AppSettings.student_supplementary_embargo_upload_files) %>
  	<% end %>
	</div>

  <% if @document.name || @document.file_url %>
    <div class="alert alert-warning" role="alert">
      Replacing: <%= @document.name ? @document.name : File.basename(@document.file_url) %>
    </div>
  <% end %>

  <% f.input :name, required: true, input_html: { autocomplete: "off"} %>
	<%= f.input :file, required: true, as: :file, input_html: { "data-ext": "#{@document.allowed_extensions.join(',')}" } %>
  <div class="invalid-feedback"></div>

	<%= f.hidden_field :usage, value: @document.usage %>
	<%= f.hidden_field :supplemental, value: @document.supplemental %>

  <%= f.button :submit, "Upload", class: "btn btn-primary file-upload", id: "file_upload_button" %>

  <% if (defined? modal).nil? || !modal %>
    <% if current_user.role == User::STUDENT && @document.usage == 'licence' %>
      <a href="<%= student_view_thesis_process_path(@thesis, Thesis::PROCESS_REVIEW) %>" class="btn btn-secondary">Cancel</a>
    <% elsif current_user.role == User::STUDENT && @document.usage != 'licence' %>
      <a href="<%= student_view_thesis_process_path(@thesis, Thesis::PROCESS_UPLOAD) %>" class="btn btn-secondary">Cancel</a>
    <% elsif current_user.role != User::STUDENT %>
      <a href="<%= student_thesis_path(@student, @thesis) %>" class="btn btn-secondary">Cancel</a>
    <% end %>
  <% else %>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Cancel">Cancel</button>
  <% end %>
<% end %>
