<%= simple_form_for [@student, @thesis, @document], html: { class: "document form-horizontal", multipart: true } do |f| %>
	
	<% if @document.document_type == 'supplemental' %>
		<div id="supplementary-help-info" class="p-3 bg-secondary-subtle mb-3">
			<%= raw(AppSettings.student_supplementary_upload_files) %>
		</div>
	<% elsif @document.document_type == 'licence' %>
		<div id="supplementary-help-info" class="p-3 bg-secondary-subtle mb-3">
			<%= raw(AppSettings.student_review_license_lac) %>
		</div>
	<% elsif @document.document_type == 'embargo' %>
		<div id="supplementary-help-info" class="p-3 bg-secondary-subtle mb-3">
			<%= raw(AppSettings.student_supplementary_embargo_upload_files) %>
		</div>
	<% end %>
	
	<% if @document.file_url %>
		<div class="controls"> 
			<strong>Current file:</strong> <%= File.basename(@document.file_url)%>
		</div>
	<% end %>
	<%= f.input :file, as: :file, required: true, label_html: { class: 'py-4' } %>
	<%= f.hidden_field :supplemental, value: @document.supplemental %>

	<%= f.hidden_field :usage, value: @document.usage %>
	<% if @document.supplemental != true %>
		<%= f.hidden_field :usage, value: :thesis %>		
	<% end %>

		<hr />
		<div class="action controls">
			<%= f.button :submit, "Upload", class: "btn btn-primary" %>  or <%= link_to "Cancel", :back %>
		</div>
	
<% end %>

