<div class="modal fade" id="<%= primary ? 'primary-file' : 'supplemental-licence-files' %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="supplemental-files">Upload Licence Files</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
			<%= simple_form_for [@student, @thesis, Document.new], html: { class: "document", multipart: true, id: "new_document_#{primary}" }, authenticity_token: true, remote: true do |f| %>
				<div class="modal-body">
					<div class="alert alert-secondary" role="alert">
						<% if "#{AppSettings.student_review_license_lac}" != '' %>
							<%= raw(AppSettings.student_review_license_lac) %>
						<% else %>
							<p>Licence Info here</p>
						<% end %>
					</div>
					<% f.input :name, required: false, input_html: { class: "span4", autocomplete: "off"} %>
					<%= f.input :file, required: true, as: :file %>
					<%= f.hidden_field :usage, value: :licence %>
					<%= f.hidden_field :supplemental, value: true %>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<%= f.button :submit, "Upload", class: "btn btn-primary" %>
				</div>
			<% end %>
    </div>
  </div>
</div>