<% title "Document" %>

<p>
  <strong>Thesis:</strong>
  <%= @document.thesis %>
</p>
<p>
  <strong>User:</strong>
  <%= @document.user %>
</p>
<p>
  <strong>Supplemental:</strong>
  <%= @document.supplemental %>
</p>
<p>
  <strong>Name:</strong>
  <%= @document.name %>
</p>

<p>
  <%= link_to "Edit", edit_student_thesis_document_path(@student, @thesis, @document) %> |
  <%= link_to "Destroy",  [@student, @thesis, @document], data: { confirm: 'Are you sure?' }, :method => :delete %> |
  <%= link_to "View All", student_thesis_path(@student, @thesis)  %>
</p>
