<div class="container progress_bar fitted">
 <div class="row">
	<div class="col border border-secondary p-2 m-1 step <%= activate == Thesis::PROCESS_BEGIN ? "bg-warning-subtle" :"bg-secondary-subtle" %> <%= "disable" if block_thesis_changes?(@thesis) %>">
		<i class="<%= activate == Thesis::PROCESS_BEGIN ? "fa fa-hand-o-right" : "fa fa-circle-o" %>"></i>
		<a href="<%= student_view_thesis_process_path(@thesis, Thesis::PROCESS_BEGIN)  unless block_thesis_changes?(@thesis) %>" title="Begin Submission">
			Begin<br/>
			<strong>submission</strong>
		</a>
	</div>
	<div class="col border border-secondary p-2 m-1 step  <%= activate == Thesis::PROCESS_UPDATE ? "bg-warning-subtle" :"bg-secondary-subtle" %> <%= "disable" if block_thesis_changes?(@thesis) %>">
		<i class="<%= activate == Thesis::PROCESS_UPDATE ? "fa fa-hand-o-right" : "fa fa-circle-o" %>"></i>
		<a  href="<%= student_view_thesis_process_path(@thesis, Thesis::PROCESS_UPDATE) unless block_thesis_changes?(@thesis) %>" title="Update Details">
			Update<br/>
			<strong>details</strong>
		</a>
	</div>
	<div class="col border border-secondary p-2 m-1 step  <%= activate == Thesis::PROCESS_UPLOAD ? "bg-warning-subtle" :"bg-secondary-subtle" %> <%= "disable" if block_thesis_changes?(@thesis) %>">
		<i class="<%= activate == Thesis::PROCESS_UPLOAD ? "fa fa-hand-o-right" : "fa fa-circle-o" %>"></i>
		<a href="<%= student_view_thesis_process_path(@thesis, Thesis::PROCESS_UPLOAD)  unless block_thesis_changes?(@thesis) %>" title="Upload Files">
			Upload<br/>
			<strong>files</strong>
		</a>
	</div>
	<div class="col border border-secondary p-2 m-1 step  <%= activate == Thesis::PROCESS_REVIEW  ? "bg-warning-subtle" :"bg-secondary-subtle" %>">
		<i class="<%= activate == Thesis::PROCESS_REVIEW ? "fa fa-hand-o-right" : "fa fa-circle-o" %>"></i>
		<a href="<%= student_view_thesis_process_path(@thesis, Thesis::PROCESS_REVIEW)   %>" title="Review Details">
				Review<br/>
			<strong>details</strong>
		</a>
	</div>
	<div class="col border border-secondary p-2 m-1 step <%= activate == Thesis::PROCESS_SUBMIT ? "bg-warning-subtle" :"bg-secondary-subtle" %> <%= "disable" if block_thesis_changes?(@thesis) %>">
		<i class="<%= activate == Thesis::PROCESS_SUBMIT ? "fa fa-hand-o-right" : "fa fa-circle-o" %>"></i>
		<a href="<%= student_view_thesis_process_path(@thesis, Thesis::PROCESS_SUBMIT)  unless block_thesis_changes?(@thesis) %>" title="Submit For Review"
			data-confirm="Have you completed all thesis details and uploaded all files?">
			Submit<br/>
			<strong>for review</strong>
		</a>
	</div>
	<div class="col border border-secondary p-2 m-1 step <%= activate == Thesis::PROCESS_STATUS ? "bg-warning-subtle" :"bg-secondary-subtle" %>">
		<i class="<%= activate == Thesis::PROCESS_STATUS ? "fa fa-hand-o-right" : "fa fa-circle-o" %>"></i>
		<a href="<%= student_view_thesis_process_path(@thesis, Thesis::PROCESS_STATUS) %>" title="Check Thesis Status">
			Check<br/>
			<strong>status</strong>
		</a>
	</div>
 </div>
</div>
