<% title "My Details" %>

<% title_html do %>
	<h4 class="fw-lighter">My Details</h4>
<% end %>

<div class="card">
  <div class="card-header">
		<h3><%= @student.name %></h3>
  </div>
  <div class="card-body">
		<div class="row">
			<div class="col-sm-12 col-lg-6">
				<h6>Username</h6>
				<p><%= @student.username %></p>
				<h6>SISID</h6>
				<p><%= @student.sisid %></p>
			</div>
			<div class="col-sm-12 col-lg-6">
				<h6>Email</h6>
				<p><%= @student.email %></p>
				<h6>Joined on</h6>
				<p><%= @student.created_at.strftime("%B %d, %Y")%></p>
				<h6>Invitation</h6>
				<p>
					<% if @student.invitation_sent_at.nil? %>
						Invitation Email hasn't been sent yet.
					<% else %>
						Sent on <%= @student.invitation_sent_at.strftime("%B %d, %Y")%> 					
					<% end %>
				</p>
			</div>
		</div>
  </div>
</div>
