<% title "My Details" %>

<% title_html do %>
	<h4 class="blend soft">My Details</h4>
<% end %>

<div class="card">
  <div class="card-header">
    <%= @student.name %>
  </div>
  <div class="card-body">
	<div class="row">
		<div class="col-md-12 col-lg-5">
			<div class="row">
				<div class="col-4">Username</div>
				<div class="col fw-bold"><%= @student.username %></div>
			</div>
			<div class="row">
				<div class="col-4">SISID</div>
				<div class="col fw-bold"><%= @student.sisid %></div>
			</div>
		</div>
		<div class="col-lg-2 d-none d-lg-block">
		</div>
		<div class="col-md-12 col-lg-5">
			<div class="row">
				<div class="col-4">Email</div>
				<div class="col fw-bold"><%= @student.email %></div>
			</div>
			<div class="row">
				<div class="col-4">Joined on</div>
				<div class="col fw-bold"><%= @student.created_at.strftime("%B %d, %Y")%></div>
			</div>
			<div class="row">
				<div class="col-4">Invitation</div>
				<div class="col fw-bold">
					<% if @student.invitation_sent_at.nil? %>
						Invitation Email hasn't been sent yet.
					<% else %>
						Sent on <%= @student.invitation_sent_at.strftime("%B %d, %Y")%> 					
					<% end %>
				</div>
			</div>
			<div class="row">
				<div class="col-4">exam date</div>
				<div class="col fw-bold"><%= gem_record.examdate.to_date.strftime("%B %d, %Y") rescue nil %></div>
			</div>
		</div>
	</div>
  </div>
</div>
