<ul class="nav nav-tabs">
	<li  class="<%= "active" if @status ==  nil %>" >
		<a href="<%= reports_dashboard_path %>">Dashboard</a>
	</li>
	<li class="<%= "active" if @status ==  Thesis::UNDER_REVIEW %>">
		<a href="<%= reports_by_status_path(status: Thesis::UNDER_REVIEW) %>">Under Review Theses</a>
	</li>
	<li class="<%= "active" if @status ==  Thesis::ACCEPTED %>">
		<a href="<%= reports_by_status_path(status: Thesis::ACCEPTED) %>">Review Accepted Theses</a>
	</li>
	<li class="<%= "active" if @status ==  "embargoed" %>">
		<a href="<%= reports_by_status_path(status: "embargoed") %>">Permanently Embargoed</a>
	</li>
	<li class="<%= "active" if @status ==  Thesis::PUBLISHED %>">
		<a href="<%= reports_by_status_path(status: Thesis::PUBLISHED) %>">Published Theses</a>
	</li>
</ul>
