<% title "Review #{@status.humanize.titleize} Theses" %>
<% title_html do %>
	<h1 class="border-bottom mb-3">Review <%= @status.humanize.titleize %> Theses</h1>
<% end %>
<div class="home fitted">
	<%= render "nav" %>

	<div id="reports">

		<p>Grouped by Publish On Date </p>

		<ul id="date_nav" class="nav nav-pills">
			<li class="<%= "active" if @date == nil %>" data-date="nil">
				<a class="btn btn-primary" href="<%= reports_by_status_path(status: @status, date: nil, order: @order) %>" data-remote="true">
					No Date Set
					&nbsp; &nbsp;
					<span class="badge bg-success" style="font-size: 11px; "><%= @null_date_count %></span>
				</a>
			</li>

			<% @published_date_counts.each do |date, count| %>
				<li class="<%= "active" if date == @date  %>"  data-date="<%= date %>">
					<a class="btn btn-primary" href="<%= reports_by_status_path(status: @status, date: date, order: @order) %>" data-remote="true">
						<%= date == nil ? "No Date Set" : date.strftime("%b %d, %Y") %>
						&nbsp; &nbsp;
						<span class="badge bg-success" style="font-size: 11px; "><%= count %></span>
					</a>
				</li>
			<% end %>

		</ul>

		<div id="thesis_list">
			<%= render partial: "thesis_list" %>
		</div>

	



	</div>

</div>
