<% title "ETD Reports" %>

<%= render "nav" %>

<div class="reports fitted">
	<h4><i>Report on Theses</i></h4>


		<table class="table table-striped" >
			<tr>
				<td class="span4">Currently Open</td>
				<td class="strong span2" align="right"><%= @theses_open_count %></td>
			</tr>
			<tr>
				<td class="span4">Currently Under Review</td>
				<td class="strong span2"><%= @theses_under_review_count %></td>
			</tr>
			<tr>
				<td class="span4">Currently Rejected</td>
				<td class="strong span2"><%= @theses_rejected_count %></td>
			</tr>
			<tr>
				<td class="span4">Currently Accepted</td>
				<td class="strong span2"><%= @theses_accepted_count %></td>
			</tr>
			<tr>
				<td class="span4">Currently Permanently Embargoed</td>
				<td class="strong span2"><%= @theses_embargoed_count %></td>
			</tr>
			<tr>
				<td class="span4">Currently Published</td>
				<td class="strong span2"><%= @theses_published_count %></td>
			</tr>
			<tr>
				<td class="span4">Total Theses</td>
				<td class="strong span2"><%= @theses_count %></td>
			</tr>

		</table>

		<hr/>

	<h4><i>Report on Students</i></h4>

		<table class="table table-striped">
			<tr>
				<td class="span4">Total Students</td>
				<td class="strong span2"><%= @total_students %></td>
			</tr>
		</table>


	<h4><i>Report on Gem Records</i></h4>

		<table class="table table-striped ">
			<tr>
				<td class="span4">Total Gem Records</td>
				<td class="strong span2"><%= @total_gem_records %></td>
			</tr>
		</table>

	<h4><i>Report on Users</i></h4>

		<table class="table table-striped ">
			<tr>
				<td class="span4">Total Users</td>
				<td class="strong span2"><%= @total_users %></td>
			</tr>
		</table>


	<h4><i>Report on LOC Subjects</i></h4>

		<table class="table table-striped ">
			<tr>
				<td class="span4">Total Loc Subjects</td>
				<td class="strong span2"><%= @total_loc_subjects %></td>
			</tr>
		</table>

</div>
