<% title "ETD Reports" %>
<% title_html do %>
	<h1 class="border-bottom mb-3">ETD Reports</h1>
<% end %>
<%= render "nav" %>

<h2 class="fs-4">Report on Theses</h2>
<hr class="bg-primary border-2 border-top border-primary"/>
<div class="report-table container border mb-3">
	<div class="row">
		<div class="col-md-10 text-md-start ">Currently Open</div>
		<div class="col-md-2 "><%= @theses_open_count %></div>
	</div>
	<div class="row">
		<div class="col-md-10 text-md-start">Currently Under Review</div>
		<div class="col-md-2 fw-bold"><%= @theses_under_review_count %></div>
	</div>
	<div class="row">
		<div class="col-md-10 text-md-start">Currently Rejected</div>
		<div class="col-md-2 fw-bold"><%= @theses_rejected_count %></div>
	</div><div class="row">
		<div class="col-md-10 text-md-start">Currently Accepted</div>
		<div class="col-md-2 fw-bold"><%= @theses_accepted_count %></div>
	</div><div class="row">
		<div class="col-md-10 text-md-start">Currently Published</div>
		<div class="col-md-2 fw-bold"><%= @theses_embargoed_count %></div>
	</div><div class="row">
		<div class="col-md-10 text-md-start">Currently Permanently Embargoed</div>
		<div class="col-md-2 fw-bold"><%= @theses_published_count %></div>
	</div><div class="row">
		<div class="col-md-10 text-md-start">Total Theses</div>
		<div class="col-md-2 fw-bold"><%= @theses_count %></div>
	</div>
</div>
<h2 class="fs-4">Report on Students</h2>
<hr class="bg-primary border-2 border-top border-primary"/>
<div class="report-table container border mb-3">
	<div class="row">
		<div class="col-md-10 text-md-start">Total Students</div>
		<div class="col-md-2 fw-bold"><%= @total_students %></div>
	</div>
</div>
<h2 class="fs-4">Report on GEM Records</h2>
<hr class="bg-primary border-2 border-top border-primary"/>
<div class="report-table container border mb-3">
	<div class="row">
		<div class="col-md-10 text-md-start">Total GEM Records</div>
		<div class="col-md-2 fw-bold"><%= @total_gem_records %></div>
	</div>
</div>
<h2 class="fs-4">Report on Users</h2>
<hr class="bg-primary border-2 border-top border-primary"/>
<div class="report-table container border mb-3">
	<div class="row">
		<div class="col-md-10 text-md-start">Total Users</div>
		<div class="col-md-2 fw-bold"><%= @total_users %></div>
	</div>
</div>
<h2 class="fs-4">Report on LOC Subjects</h2>
<hr class="bg-primary border-2 border-top border-primary"/>
<div class="report-table container border mb-3">
	<div class="row">
		<div class="col-md-10 text-md-start">Total LOC Subjects</div>
		<div class="col-md-2 fw-bold"><%= @total_loc_subjects %></div>
	</div>
</div>