<% title "ETD Reports" %>
<% title_html do %>
	<h1 class="border-bottom mb-3">ETD Reports</h1>
<% end %>
<%= render "nav" %>

<div class="container">
  <div class="row grid gap-0 row-gap-2">
    <div class="col-12">
			<h4><i>Report on Theses</i></h4>
    </div>
		<div class="col-11 bg-body-secondary">Currently Open</div>
		<div class="col-1 bg-body-secondary"><%= @theses_open_count %></div>
		<div class="col-11">Currently Under Review</div>
		<div class="col-1"><%= @theses_under_review_count %></div>
		<div class="col-11 bg-body-secondary">Currently Rejected</div>
		<div class="col-1 bg-body-secondary"><%= @theses_rejected_count %></div>
		<div class="col-11">Currently Accepted</div>
		<div class="col-1"><%= @theses_accepted_count %></div>
		<div class="col-11 bg-body-secondary">Currently Published</div>
		<div class="col-1 bg-body-secondary"><%= @theses_embargoed_count %></div>
		<div class="col-11">Currently Permanently Embargoed</div>
		<div class="col-1"><%= @theses_published_count %></div>
		<div class="col-11 bg-body-secondary">Total Theses</div>
		<div class="col-1 bg-body-secondary"><%= @theses_count %></div>
		<div class="col-12">
			<h4><i>Report on Students</i></h4>
		</div>
		<div class="col-11 bg-body-secondary">Total Students</div>
		<div class="col-1 bg-body-secondary"><%= @total_students %></div>
		<div class="col-12">
			<h4><i>Report on Gem Records</i></h4>
		</div>
		<div class="col-11 bg-body-secondary">Total Gem Records</div>
		<div class="col-1 bg-body-secondary"><%= @total_gem_records %></div>
		<div class="col-12">
			<h4><i>Report on Users</i></h4>
		</div>
		<div class="col-11 bg-body-secondary">Total Users</div>
		<div class="col-1 bg-body-secondary"><%= @total_users %></div>
		<div class="col-12">
			<h4><i>Report on LOC Subjects</i></h4>
		</div>
		<div class="col-11 bg-body-secondary">Total Loc Subjects</div>
		<div class="col-1 bg-body-secondary"><%= @total_loc_subjects %></div>
	</div>
</div>
