<% title "Review Thesis" %>

<div class="home fitted">
	<%= render "nav" %>

	<div class="d-flex justify-content-between">
		<%= link_to "Prev", reports_review_thesis_path(id: @prev_id), class: "btn btn-secondary" unless @prev_id == 0 %>
		<h2>Review Thesis Details</h2>
		<%= link_to "Next", reports_review_thesis_path(id: @next_id), class: "btn btn-secondary" unless @next_id == @thesis.id || @next_id == nil %>
	</div>
	
	<hr/>
	<div class="thesis data-grid">
		<div class="row mb-3">
			<div class="col-md-12 col-lg-4">
				<h4>Title</h4>
				<p><%= @thesis.title %></p>
				<h4>Author</h4>
				<p><%= @thesis.author %></p>
			</div>
			<div class="col-md-12 col-lg-4">
				<h4>Supervisor</h4>
				<p><%= format @thesis.supervisor %></p>
				<h4>Exam date</h4>
				<p><%= @thesis.exam_date.strftime("%B %d, %Y") rescue nil %></p>
			</div>
			<div class="col-md-12 col-lg-4">
				<h4>Publication Date</h4>
				<p><%= @thesis.published_date ? @thesis.published_date.strftime("%B %d, %Y") : format(@thesis.published_date)  %></p>
				<h4>Degree Name and Level</h4>
				<p><%= format @thesis.degree_name %> - <%= format @thesis.degree_level %></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-lg-4">
				<h4>Program</h4>
				<p><%= format @thesis.program %></p>
			</div>
			<div class="col-md-12 col-lg-4">
				<h4>Subjects</h4>
				<p><%= format @thesis.loc_subjects.map(&:name).join ', ' %></p>
			</div>
			<div class="col-md-12 col-lg-4">
				<h4>Language</h4>
				<p><%= format @thesis.language %></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-lg-4">
				<h4>Program Shortened</h4>
				<p><%= @thesis.program.split(".,").last.strip rescue nil %></p>
			</div>
	  	<div class="col-12 col-lg-8 d-none d-lg-block">
				<h4>Keywords</h4>
				<p><%= format @thesis.keywords%></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<h4>Abstract</h4>
				<p><%= format @thesis.abstract, true %></p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-sm-12 text-end">
			<%= link_to "Go to record", [@thesis.student, @thesis], class: "btn btn-success" %>
		</div>
	</div>

	<div class="documents">
		<h3 class="text-secondary" >Thesis Files and Documents</h3>
		<hr/>
		<% @student = @thesis.student %>
		<div class="bg-light-subtle mt-3 p-3">
			<h4>Primary</h4>
			<% @primary_documents = @thesis.documents.not_deleted.primary %>
				<% @primary_documents.each do | document | %>
					<%= render partial: document %>
				<% end %>

				<% if @primary_documents.count == 0 %>
					<p>There are no <strong>primary</strong> files or documents attached to this thesis/dissertation.</p>
				<% end %>
		</div>
	
		<div class="bg-light-subtle mt-3 p-3">
			<h4>Supplementary Thesis Files</h4>
			<!-- temp assignment as awaiting update from another dev -->
			<% @supplemental_documents = @thesis.documents.not_deleted.supplemental %>
			<% @supplemental_licence_documents = @thesis.documents.not_deleted.supplemental %>
			<% @supplemental_embargo_documents = @thesis.documents.not_deleted.supplemental %>
			
			<% @supplemental_documents.each do | document | %>
				<% if document.usage == 'thesis'%>
					<%= render partial: document %>
				<% end %>
			<% end %>
			<% if @supplemental_documents.count == 0 %>
				<p>There are no <strong>supplementary</strong> files or documents attached to this thesis/dissertation.</p>
			<% end %>
		</div>
	
		<div class="bg-light-subtle mt-3 p-3">
			<h4>Licence Agreements</h4>
			<% @supplemental_licence_documents.each do | document | %>
					<%= render partial: document %>
			<% end %>
			<% if @supplemental_licence_documents.count == 0 %>
				<p>There are no <strong>supplementary licence</strong> files or documents attached to this thesis/dissertation.</p>
			<% end %>
		</div>
	
		<div class="bg-light-subtle mt-3 p-3">
			<h4>Embargo Documents</h4>
			<% @supplemental_embargo_documents.each do | document | %>
					<%= render partial: document %>
			<% end %>
			<% if @supplemental_embargo_documents.count == 0 %>
				<p>There are no <strong>embargo</strong> files or documents attached to this thesis/dissertation.</p>
			<% end %>
		</div>

	</div>
</div>
