<% title "Review Thesis" %>

<div class="home fitted">
	<%= render "nav" %>
	<div class="row pb-5">
		<div class="col-1">
			<%= link_to "Prev", reports_review_thesis_path(id: @prev_id) unless @prev_id == 0  %>
		</div>
		<div class="col-10 text-center fw-bold">
			Review Thesis Details
		</div>
		<div class="col-1 text-end">
			<%= link_to "Next", reports_review_thesis_path(id: @next_id) unless @next_id == @thesis.id %>
		</div>
		<div class="col-lg-12 col-sm-12 pt-3">
			<h6>Title</h6>
			<p><%= @thesis.title %></p>
		</div>
		<div class="col-lg-4 col-sm-12">
			<h6>Author</h6>
			<p><%= @thesis.author %></p>
		</div>
		<div class="col-lg-4 col-sm-12">
			<h6>Supervisor</h6>
			<p><%= @thesis.supervisor %></p>
		</div>
		<div class="col-lg-12 col-sm-12">
			<h6>Abstract</h6>
			<p><%= @thesis.abstract %></p>
		</div>
		<div class="col-12">
			<h6>Subject Keywords</h6>
			<p><%= @thesis.keywords %></p>
		</div>
		<div class="col-lg-12 col-sm-12">
			<h6>Subjects</h6>
			<p><%=  @thesis.loc_subjects.collect { |s| s.name }.join(", ") %></p>
		</div>
		<div class="col-lg-4 col-sm-12">
			<h6>Language</h6>
			<p><%= @thesis.language %></p>
		</div>
		<div class="col-lg-4 col-sm-12">
			<h6>Program</h6>
			<p><%= @thesis.program %></p>
		</div>
		<div class="col-lg-4 col-sm-12">
			<h6>Degree Name</h6>
			<p><%= Thesis::DEGREENAME_FULL[@thesis.degree_name] %></p>
		</div>
		<div class="col-lg-4 col-sm-12">
			<h6>Exam date</h6>
			<p><%= @thesis.exam_date.strftime("%Y-%m-%d") %></p>
		</div>
		<div class="col-lg-4 col-sm-12">
			<h6>Program Shortened</h6>
			<p><%= @thesis.program.split(".,").last.strip rescue nil %></p>
		</div>
		<div class="col-lg-4 col-sm-12">
			<h6>Degree Level</h6>
			<p><%= @thesis.degree_level %></p>
		</div>
		<div class="col-lg-12 col-sm-12 text-end">
			<%= link_to "Go to record", [@thesis.student, @thesis], class: "btn btn-success pull-end" %>
		</div>
	</div>

  		<% @student = @thesis.student %>
  		<div class="documents fitted">

  			<h6 class="green">Thesis Files and Documents</h6>

				<% @thesis.documents.not_deleted.primary.each do | document | %>
  				<%= render partial: document %>
  			<% end %>

  			<% if @thesis.documents.not_deleted.primary.count == 0 %>
  				<p>There are no <strong>primary</strong> files or documents attached to this thesis.</p>
  			<% end %>



  			<h6>Supplemental</h6>
  			<% @thesis.documents.not_deleted.supplemental.each do | document | %>
  				<%= render partial: document %>
  			<% end %>
  			<% if @thesis.documents.not_deleted.supplemental.count == 0 %>
  				<p>There are no <strong>supplemental</strong> files or documents attached to this thesis.</p>
  			<% end %>


  		</div>


</div>
