<% remote = request.xhr? ? true : false %>
<div class="modal" id="add_committee_member_modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Committee Member</h5>
				<% if request.xhr? %>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				<% end %>      
      </div>
			<%= simple_form_for [@student, @thesis, @committee_member], remote: remote do |f| %>
				<div class="modal-body">
					<p id="member_first_name">
						<%= f.input :first_name, label: "First Name", required: true %>
					</p>
					<p id="member_last_name">
						<%= f.input :last_name, label: "Last Name" %>
					</p>
					<%= f.input :role, label: "Choose a Role:", required: true, collection: CommitteeMember::ROLES, as: :radio_buttons %>
				</div>
				<div class="modal-footer">
					<% if request.xhr? %>
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<% else %>
						<%= link_to "Cancel", :back, class: "btn" %>
					<% end %>
						<%= f.button :submit, "Add Member", class: "btn btn-primary" %>
				</div>

    </div>
  </div>
</div>


<% end %>
