<% remote = request.xhr? ? true : false %>
<%= simple_form_for [@student, @thesis, @committee_member], remote: remote do |f| %>
	<div class="modal-header">
		<% if request.xhr? %>
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<% end %>

		<h3>Add Committee Member</h3>
	</div>

	<div class="modal-body">
		<div class="row">
			<div class="span" style="width: 210px; margin-right: 20px; ">
				<% #unless CommitteeMember.unique_names.size == 0 %>
					<% #f.input :full_name, label: "Select an existing name:", required: false, collection:  sort_by_last_name(CommitteeMember.unique_names.map { |m| m.full_name }) %>
				<% #end %>

				<%= f.input :first_name, label: "Committee Member:", required: false, placeholder: "First Name ..."%>
				<%= f.input :last_name, label: false, placeholder: "Last name ..."%>
			</div>
			<div class="span2">
				<%= f.input :role, label: "Choose a Role:", required: false, collection: CommitteeMember::ROLES, as: :radio_buttons %>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<% if request.xhr? %>
			<a href="#" class="btn"  data-dismiss="modal" aria-hidden="true">Close</a>
		<% else %>
			<%= link_to "Cancel", :back, class: "btn" %>
		<% end %>
		<%= f.button :submit, "Add Member", class: "btn btn-primary" %>
	</div>
<% end %>
