<%= simple_form_for [@student, @thesis, @committee_member], remote: request.xhr? do |f| %>
	<%= f.input :first_name, label: "First Name", required: true %>
	<%= f.input :last_name, label: "Last Name", required: true %>
	<%= f.input :role, label: "Role", required: true, collection: CommitteeMember::ROLES, as: :radio_buttons %>
	<%= f.button :submit, "Add", class: "btn btn-primary" %>

	<% if request.xhr? %>
		<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Cancel">Cancel</button>
    <% else %>
	    <% if current_user.role == User::STUDENT %>
	    	<a href="<%= student_view_thesis_process_path(@thesis, Thesis::PROCESS_UPDATE) %>" class="btn btn-secondary">Cancel</a>
	    <% else %>
	    	<a href="<%= edit_student_thesis_path(@student, @thesis) %>" class="btn btn-secondary">Cancel</a>
	    <% end %>
  	<% end %>
<% end %>